<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../../../partials/head %>
        <title></title>
        <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
</head>
<script type="text/javascript" src="/js/jquery-1.10.2.js"></script>

<body>

    <header>
        <% include ../../../partials/header %>
    </header>


    <div class="container-fluid">
        <div class="row">
            <!-- 2단길이의 첫번째 열 -->
            <div class="col-md-2">
                <% include ../../../partials/oside %>
            </div>

            <!-- 10단길이의 첫번째 열 -->
            <div class="col-md-10">
                <div id="page-inner">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="page-header">
                                상세검색
                            </h1>
                        </div>
                    </div>

                    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <table class="table-bordered table table-striped table-hover">
                                <form class="checkValidation" action="/orders/" id="search">
                                    <tr>
                                        <th class="text-center" style="padding-top: 15px;">기간</th>
                                        <td colspan="3">
                                            <% if(typeof search.findAfter == "undefined" || search.findAfter == null || search.findAfter == "") {%>
                                                <div class="row g-4 align-self-center">
                                                    <div class="col-2">
                                                        <select class="form-select" aria-label="Default select example" name="searchType" <%= search.searchType=="author!"?"disabled":"" %>>
                                                            <% var select %>
                                                            <option selected>조건선택</option>
                                                            <option value="deliver_completed"
                                                            <%= search.searchType=="deliver_completed"?select="selected":"" %>>배송 완료</option>
                                                            <option value="cencel_completed"
                                                            <%= search.searchType=="cencel_completed"?select="selected":"" %>>취소 완료</option>
                                                            <option value="return_request"
                                                            <%= search.searchType=="return_request"?select="selected":"" %>>반품 요청</option>
                                                            <option value="return_completed"
                                                            <%= search.searchType=="return_completed"?select="selected":"" %>>반품 완료</option>
                                                            <option value="swap_request"
                                                            <%= search.searchType=="swap_request"?select="selected":"" %>>교환 요청</option>
                                                            <option value="swap_completed"
                                                            <%= search.searchType=="swap_completed"?select="selected":"" %>>교환 완료</option>
                                                            <%if(search.searchType=="author!"){%>
                                                            <option value="author!"
                                                                <%= search.searchType=="author!"?select="selected":"" %>>Author</option>
                                                            <%} else {%>
                                                            <option value="author"
                                                                <%= search.searchType=="author"?select="selected":"" %>>Author</option>
                                                            <%}%>
                                                        </select>
                                                        <!-- <select class="form-select" aria-label="Default select example">
                                                            <option selected>주문일</option>
                                                            <option value="1">배송 완료일</option>
                                                            <option value="2">취소 완료일</option>
                                                            <option value="3">반품 요청일</option>
                                                            <option value="4">반품 완료일</option>
                                                            <option value="5">교환 요청일</option>
                                                            <option value="6">교환 완료일</option>
                                                        </select> -->
                                                    </div>
                                                    <div class="col-1">
                                                        <input type="checkbox" class="form-check-input" name="termCheck[all]" value="true" id="inlineCheckbox1"/>
                                                        <label class="form-check-label" for="inlineCheckbox1">전체</label>
                                                    </div>
                                                    <div class="col-1">
                                                        <input type="checkbox" class="form-check-input" name="termCheck[dday]" value="true" id="inlineCheckbox2"/>
                                                        <label class="form-check-label" for="inlineCheckbox2">오늘</label>
                                                    </div>
                                                    <div class="col-1">
                                                        <input type="checkbox" class="form-check-input" name="termCheck[threeDay]" value="true" id="inlineCheckbox3"/>
                                                        <label class="form-check-label" for="inlineCheckbox3">3일</label>
                                                    </div>
                                                    <div class="col-1">
                                                        <input type="checkbox" class="form-check-input" name="termCheck[weeklyy]" value="true" id="inlineCheckbox4"/>
                                                        <label class="form-check-label" for="inlineCheckbox4">7일</label>
                                                    </div>
                                                    <div class="col-1">
                                                        <input type="checkbox" class="form-check-input" name="termCheck[monthy]" value="true" id="inlineCheckbox5"/>
                                                        <label class="form-check-label" for="inlineCheckbox5">1개월</label>
                                                    </div>
                                                    <div class="col-1">
                                                        <input type="checkbox" class="form-check-input" name="termCheck[threeMonthy]" value="true" id="inlineCheckbox6"/>
                                                        <label class="form-check-label" for="inlineCheckbox6">3개월</label>
                                                    </div>
                                                    <div class="col-1">
                                                        <input type="checkbox" class="form-check-input" name="termCheck[year]" value="true" id="inlineCheckbox7"/>
                                                        <label class="form-check-label" for="inlineCheckbox7">1년</label>
                                                    </div>
                                                    <!-- <div class="col-3" id="dateType">
                                                        <input type="date" id="start" name="from" style="float: left; height: 30px;">
                                                        <span style="float: left; width: 35px; padding-top: 10px;">
                                                            ~
                                                        </span>
                                                        <input type="date" id="end" name="to" style="float: left; height: 30px;">
                                                    </div> -->
                                                </div>
                                            <% } else { %>
                                                <div class="row g-4 align-self-center">
                                                    <div class="col-2">

                                                        <select class="form-select" aria-label="Default select example" name="searchType" <%= search.searchType=="author!"?"disabled":"" %>>
                                                            <% var select %>
                                                            <option selected>조건선택</option>
                                                            <option value="deliver_completed"
                                                            <%= search.searchType=="deliver_completed"?select="selected":"" %>>배송 완료</option>
                                                            <option value="cencel_completed"
                                                            <%= search.searchType=="cencel_completed"?select="selected":"" %>>취소 완료</option>
                                                            <option value="return_request"
                                                            <%= search.searchType=="return_request"?select="selected":"" %>>반품 요청</option>
                                                            <option value="return_completed"
                                                            <%= search.searchType=="return_completed"?select="selected":"" %>>반품 완료</option>
                                                            <option value="swap_request"
                                                            <%= search.searchType=="swap_request"?select="selected":"" %>>교환 요청</option>
                                                            <option value="swap_completed"
                                                            <%= search.searchType=="swap_completed"?select="selected":"" %>>교환 완료</option>
                                                            <%if(search.searchType=="author!"){%>
                                                            <option value="author!"
                                                                <%= search.searchType=="author!"?select="selected":"" %>>Author</option>
                                                            <%} else {%>
                                                            <option value="author"
                                                                <%= search.searchType=="author"?select="selected":"" %>>Author</option>
                                                            <%}%>
                                                        </select>

                                                        <!-- <select class="form-select" aria-label="Default select example">
                                                            <option selected>주문일</option>
                                                            <option value="1">배송 완료일</option>
                                                            <option value="2">취소 완료일</option>
                                                            <option value="3">반품 요청일</option>
                                                            <option value="4">반품 완료일</option>
                                                            <option value="5">교환 요청일</option>
                                                            <option value="6">교환 완료일</option>
                                                        </select> -->
                                                    </div>
                                                    <div class="col-1">
                                                        <input type="checkbox" class="form-check-input" name="termCheck[all]" 
                                                        value="true" id="inlineCheckbox1" <% if(search.findAfter.all) { %> checked <% } %>/>
                                                        <label class="form-check-label" for="inlineCheckbox1">전체</label>
                                                    </div>
                                                    <div class="col-1">
                                                        <input type="checkbox" class="form-check-input" name="termCheck[dday]" 
                                                        value="true" id="inlineCheckbox2" <% if(search.findAfter.dday) { %> checked <% } %>/>
                                                        <label class="form-check-label" for="inlineCheckbox2">오늘</label>
                                                    </div>
                                                    <div class="col-1">
                                                        <input type="checkbox" class="form-check-input" name="termCheck[threeDay]" 
                                                        value="true" id="inlineCheckbox3" <% if(search.findAfter.threeDay) { %> checked <% } %>/>
                                                        <label class="form-check-label" for="inlineCheckbox3">3일</label>
                                                    </div>
                                                    <div class="col-1">
                                                        <input type="checkbox" class="form-check-input" name="termCheck[weeklyy]" 
                                                        value="true" id="inlineCheckbox4" <% if(search.findAfter.weeklyy) { %> checked <% } %>/>
                                                        <label class="form-check-label" for="inlineCheckbox4">7일</label>
                                                    </div>
                                                    <div class="col-1">
                                                        <input type="checkbox" class="form-check-input" name="termCheck[monthy]" 
                                                        value="true" id="inlineCheckbox5" <% if(search.findAfter.monthy) { %> checked <% } %>/>
                                                        <label class="form-check-label" for="inlineCheckbox5">1개월</label>
                                                    </div>
                                                    <div class="col-1">
                                                        <input type="checkbox" class="form-check-input" name="termCheck[threeMonthy]" 
                                                        value="true" id="inlineCheckbox6" <% if(search.findAfter.threeMonthy) { %> checked <% } %>/>
                                                        <label class="form-check-label" for="inlineCheckbox6">3개월</label>
                                                    </div>
                                                    <div class="col-1">
                                                        <input type="checkbox" class="form-check-input" name="termCheck[year]" 
                                                        value="true" id="inlineCheckbox7" <% if(search.findAfter.year) { %> checked <% } %>/>
                                                        <label class="form-check-label" for="inlineCheckbox7">1년</label>
                                                    </div>
                                                    <!-- <div class="col-3" id="dateType">
                                                        <input type="date" id="start" name="from" style="float: left; height: 30px;">
                                                        <span style="float: left; width: 35px; padding-top: 10px;">
                                                            ~
                                                        </span>
                                                        <input type="date" id="end" name="to" style="float: left; height: 30px;">
                                                    </div> -->
                                                </div>
                                            <% } %>
                                        </td>
                                        <td rowspan="3">
                                            <div class="justify-content-center">
                                                <div class="col-6 p-0 m-0">
                                                    <button type="submit" id="btnSearch"  class="btn btn-info" style="margin-top: 41px;" <%= search.searchType=="author!"?"disabled":""%>>검색</button>
                                                </div>
                                                <%if(search.searchType){%>
                                                <div class="col-6 p-0 m-0">
                                                    <button type="button" class="btn btn-secondary" style="margin-top: 55px;" onclick="window.location = '/orders?page=1'">취소</button>
                                                </div>
                                                <%}%>
                                                <div class="message" id="searchError"></div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="text-center" style="padding-top: 20px;">검색 조건</th>
                                        <td colspan="3">
                                            <div class="row g-4 align-self-center">
                                                <div class="col-2">
                                                    <select class="form-select" aria-label="Default select example" name="searchType" <%= search.searchType=="author!"?"disabled":"" %>>
                                                        <% var select %>
                                                        <option selected>조건선택</option>
                                                        <option value="imp_uid"
                                                        <%= search.searchType=="imp_uid"?select="selected":"" %>>주문 번호</option>
                                                        <!-- <option value="buyer_email"
                                                        <%=// search.searchType=="buyer_email"?select="selected":"" %>>주문 아이디</option> -->
                                                        <!-- <option value="buyer_tel"
                                                        <%=// search.searchType=="buyer_tel"?select="selected":"" %>>주문자 연락처</option> -->
                                                        <option value="buyer_name"
                                                        <%= search.searchType=="buyer_name"?select="selected":"" %>>주문자명</option>
                                                        <option value="name"
                                                        <%= search.searchType=="name"?select="selected":"" %>>주문 상품명</option>
                                                        <!-- <option value="deliverNo"
                                                        <%=// search.searchType=="deliverNo"?select="selected":"" %>>운송장 번호</option> -->
                                                        <%if(search.searchType=="author!"){%>
                                                        <option value="author!"
                                                            <%= search.searchType=="author!"?select="selected":"" %>>Author</option>
                                                        <%} else {%>
                                                        <option value="author"
                                                            <%= search.searchType=="author"?select="selected":"" %>>Author</option>
                                                        <%}%>
                                                    </select>
                                                </div>
                                                <div class="col-5">
                                                    <input class="cvMinLength" cvMinLength="2"
                                                        cvMinLenErrTo="#searchError" style="float: left; width: 300px; height: 28px;"
                                                        cvMinLenErrMsg="It should be at least 2 characters"
                                                        type="text" name="searchText" value="<%= select?search.searchText:"" %>"
                                                        <%= search.searchType=="author!"?"disabled":"" %>>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="col-2" style="text-align: center; padding-top: 15px;">주문 상태</th>
                                        <td colspan="3">
                                                <div class="row g-4 align-self-center">
                                                    <div class="col-2">
                                                        <select class="form-select" aria-label="Default select example" <%= search.searchType=="author!"?"disabled":"" %> disabled>
                                                            <% var select %>
                                                            <option selected>조건선택</option>
                                                            <option value="status_ready,paid,deliver_ready,deliver_during,deliver_completed"
                                                            <%= search.searchType=="status_ready,paid,deliver_ready,deliver_during,deliver_completed"?select="selected":"" %>>주문 관리</option>
                                                            <option value="cencel_request,cencel_progress,cencel_completed"
                                                            <%= search.searchType=="cencel_request,cencel_progress,cencel_completed"?select="selected":"" %>>취소 관리</option>
                                                            <option value="return_request,return_progress,return_completed"
                                                            <%= search.searchType=="return_request,return_progress,return_completed"?select="selected":"" %>>반품 관리</option>
                                                            <option value="swap_request,swap_during,swap_completed"
                                                            <%= search.searchType=="swap_request,swap_during,swap_completed"?select="selected":"" %>>교환 관리</option>
                                                        </select>
                                                    </div>
                                                    <% if(typeof search.findAfter == "undefined" || search.findAfter == null || search.findAfter == "") {%>
                                                    <div class="col-10">
                                                        <div class="row g-4 align-items-center" style="padding-top: 12px;">
                                                            <div class="col-2">
                                                                <input class="form-check-input" type="checkbox"
                                                                    id="inlineCheckbox8" value="true" name="termCheck[status_ready]">
                                                                <label class="form-check-label" for="inlineCheckbox8">결제
                                                                    확인중</label>
                                                            </div>
                                                            <div class="col-2">
                                                                <input class="form-check-input" type="checkbox"
                                                                    id="inlineCheckbox9" value="true" name="termCheck[paid]">
                                                                <label class="form-check-label" for="inlineCheckbox9">결제
                                                                    확인</label>
                                                            </div>
                                                            <div class="col-2">
                                                                <input class="form-check-input" type="checkbox"
                                                                    id="inlineCheckbox10" value="true" name="termCheck[deliver_ready]">
                                                                <label class="form-check-label" for="inlineCheckbox10">배송
                                                                    준비중</label>
                                                            </div>
                                                            <div class="col-2">
                                                                <input class="form-check-input" type="checkbox"
                                                                    id="inlineCheckbox11" value="true" name="termCheck[deliver_during]">
                                                                <label class="form-check-label"
                                                                    for="inlineCheckbox11">배송중</label>
                                                            </div>
                                                            <div class="col-2">
                                                                <input class="form-check-input" type="checkbox"
                                                                    id="inlineCheckbox12" value="true" name="termCheck[deliver_completed]">
                                                                <label class="form-check-label" for="inlineCheckbox12">배송
                                                                    완료</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <% } else { %>
                                                        <div class="col-10">
                                                            <div class="row g-4 align-items-center" style="padding-top: 12px;">
                                                                <div class="col-2">
                                                                    <input class="form-check-input" type="checkbox" <% if(search.findAfter.status_ready) { %> checked <% } %>
                                                                        id="inlineCheckbox8" value="true" name="termCheck[status_ready]">
                                                                    <label class="form-check-label" for="inlineCheckbox8">결제
                                                                        확인중</label>
                                                                </div>
                                                                <div class="col-2">
                                                                    <input class="form-check-input" type="checkbox" <% if(search.findAfter.paid) { %> checked <% } %>
                                                                        id="inlineCheckbox9" value="true" name="termCheck[paid]">
                                                                    <label class="form-check-label" for="inlineCheckbox9">결제
                                                                        확인</label>
                                                                </div>
                                                                <div class="col-2">
                                                                    <input class="form-check-input" type="checkbox" <% if(search.findAfter.deliver_ready) { %> checked <% } %>
                                                                        id="inlineCheckbox10" value="true" name="termCheck[deliver_ready]">
                                                                    <label class="form-check-label" for="inlineCheckbox10">배송
                                                                        준비중</label>
                                                                </div>
                                                                <div class="col-2">
                                                                    <input class="form-check-input" type="checkbox" <% if(search.findAfter.deliver_during) { %> checked <% } %>
                                                                        id="inlineCheckbox11" value="true" name="termCheck[deliver_during]">
                                                                    <label class="form-check-label"
                                                                        for="inlineCheckbox11">배송중</label>
                                                                </div>
                                                                <div class="col-2">
                                                                    <input class="form-check-input" type="checkbox" <% if(search.findAfter.deliver_completed) { %> checked <% } %>
                                                                        id="inlineCheckbox12" value="true" name="termCheck[deliver_completed]">
                                                                    <label class="form-check-label" for="inlineCheckbox12">배송
                                                                        완료</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    <% } %>
                                                </div>
                                        </td>
                                    </tr>
                                </form>
                            </table>
                            <div class="accordion-body">
                                <div class="row justify-content-center">
                                    <form id="myForm" name="statusFormSubmit" style="text-align: center;">
                                        <div class="col-2" style="float: left;">
                                            <select class="form-select form-select-sm" 
                                                aria-label=".form-select-sm example" id="status" name="post[status]">
                                                <option disabled selected>주문 상태</option>
                                                <option value="status_ready">결제 확인중</option>
                                                <option value="paid">결제 확인</option>
                                                <option value="deliver_ready">배송 준비중</option>
                                                <option value="deliver_during">배송중</option>
                                                <option value="deliver_completed">배송 완료</option>
                                                <option value="cencel_request">취소 요청</option>
                                                <option value="cencel_progress">취소 처리중</option>
                                                <option value="cencel_completed">취소 완료</option>
                                                <option value="return_request">반품 요청</option>
                                                <option value="return_progress">반품 처리중</option>
                                                <option value="return_completed">반품 완료</option>
                                                <option value="swap_request">교환 요청</option>
                                                <option value="swap_during">교환중</option>
                                                <option value="swap_completed">교환 완료</option>
                                            </select>
                                        </div>
                                        <br>
                                        <div class="col-8" style="float: left; margin-top: -23px;">
                                            <button class="btn btn-info btn-sm" type="button"
                                                onclick="statusChange(this)"><span class="entypo-check">선택 주문상태 변경</span></button>
                                            <button type="button" class="btn btn-warning btn-sm">선택 SMS
                                                발송</button>
                                            <button class="btn btn-primary btn-sm" type="button"><span
                                                    class="entypo-check">선택 현금영수증 발행</span></button>
                                            <button type="button" class="btn btn-success btn-sm">Excel
                                                Download</button>
                                        </div>
                                    </form>

                                    <form name="frmSubmit" style="text-align: right;">
                                        <button type="button" class="btn btn-danger btn-sm"
                                            onclick="selectDelRow(this)">🗑 주문 삭제</button>
                                    </form>
                                </div>
                            </div>
                            <div class="table-responsive">
                                <table class="table table-bordered  table-condensed table-hover  text-center">
                                    <thead>
                                        <tr>
                                            <th rowspan="2">
                                                <input class="form-check-input" type="checkbox" name="del_unit[]" 
                                                onclick="CheckAll(this)"/>
                                            </th>
                                            <th colspan="1">주문일</th>
                                            <th rowspan="2" style="padding-bottom: 20px;">주문 상태</th>
                                            <th rowspan="2" style="padding-bottom: 20px;">상품명</th>
                                            <th rowspan="2" style="padding-bottom: 20px;">수량</th>
                                            <th colspan="1">택배사</th>
                                            <th rowspan="2" style="padding-bottom: 20px;">주문자</th>
                                            <th rowspan="2" style="padding-bottom: 20px;">결제 방법</th>
                                            <th colspan="1">결제 금액</th>
                                            <th rowspan="2" style="padding-bottom: 20px;">보기</th>
                                        </tr>
                                        <tr>
                                            <th>주문 번호</th>
                                            <th>운송장 번호</th>
                                            <th>포인트 사용</th>
                                        </tr>
                                    </thead>
                                    <% if(orders==null || orders.length==0) { %>
                                        <tr class="noData">
                                            <td colspan="5">There is no data to show :(</td>
                                        </tr>
                                        <% } %>
                                            <% orders.forEach(function(post, index){ %>
                                                <input type="hidden" name="id" value="<%=post._id%>" />
                                                <form action="/orders/<%= post._id %>/deliverNoUpdate" method="post"
                                                    name="formname">
                                                    <tbody>
                                                        <tr>
                                                            <th rowspan="2" style="padding-top: 40px;">
                                                                <input class="form-check-input" type="checkbox"
                                                                    value="<%= post._id %>" name="del_unit[]"
                                                                    onclick="selectCheckRow(this)">
                                                            </th>
                                                            <th colspan="1" style="padding-top: 15px;">
                                                                <%= post.getFormattedDate(post.paid_at) %>
                                                                    <%= post.getFormattedTime(post.paid_at) %>
                                                            </th>
                                                            <th rowspan="2" style="padding-top: 40px;">
                                                                <% if(post.status == 'status_ready')  { %>
                                                                    결제 확인중
                                                                <% } else if(post.status == 'paid')  { %>
                                                                    결제 확인
                                                                <% } else if(post.status == 'deliver_ready') { %>
                                                                    배송 준비중 
                                                                <% } else if(post.status == 'deliver_during') { %>
                                                                    배송중
                                                                <% } else if(post.status == 'deliver_completed') { %>
                                                                    배송 완료
                                                                <% } else if(post.status == 'cencel_request') { %>
                                                                    취소 요청
                                                                <% } else if(post.status == 'cencel_progress') { %>
                                                                    취소 처리중
                                                                <% } else if(post.status == 'cencel_completed') { %>
                                                                    취소 완료
                                                                <% } else if(post.status == 'return_request') { %>
                                                                    반품 요청
                                                                <% } else if(post.status == 'return_progress') { %>
                                                                    반품 처리중
                                                                <% } else if(post.status == 'return_completed') { %>
                                                                    반품 완료
                                                                <% } else if(post.status == 'swap_request') { %>
                                                                    교환 요청
                                                                <% } else if(post.status == 'swap_during') { %>
                                                                    교환중
                                                                <% } else if(post.status == 'swap_completed') { %>
                                                                    교환 완료
                                                                <% } %>
                                                            </th>
                                                            <th rowspan="2" style="padding-top: 40px;"
                                                                onclick="window.location = '/orders/<%= post._id %>?<%= urlQuery %>'">
                                                                <%= post.name %>
                                                            </th>
                                                            <th rowspan="2" style="padding-top: 40px;">
                                                                <%= post.productCount %>개
                                                            </th>
                                                            <th colspan="1">
                                                                <select class="form-select" name="post[deliverCompany]"
                                                                    aria-label="Default select example"
                                                                    value="<%= post.deliverCompany %>">
                                                                    <option value="04"selected>cj 택배</option>
                                                                    <option value="01">우체국 택배</option>
                                                                    <option value="05">한진 택배</option>
                                                                    <option value="06">로젠 택배</option>
                                                                    <option value="08">롯데 택배</option>
                                                                    <option value="23">경동 택배</option>
                                                                </select>
                                                            </th>
                                                            <th rowspan="2" style="padding-top: 40px;">
                                                                <%= post.buyer_name %>
                                                            </th>
                                                            <th rowspan="2" style="padding-top: 40px;">
                                                                <%= post.pay_method %>
                                                            </th>
                                                            <th colspan="1" style="padding-top: 15px;" >
                                                                <!-- <%=// post.amount %>원 -->
                                                                <%= post.amount.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ','); %>원
                                                            </th>
                                                            <th rowspan="2" style="padding-top: 40px;"></th>
                                                        </tr>
                                                        <tr>
                                                            <th style="padding-top: 15px;" name="post[imp_uid]">
                                                                <%= post.imp_uid %>
                                                            </th>
                                                            <th>
                                                                <select class="form-select form-select-sm" hidden
                                                                    aria-label=".form-select-sm example" name="post[status]">
                                                                    <option value="deliver_during">배송중</option>
                                                                </select>
                                                                <input name="post[deliverNo]" class="form-control"
                                                                    type="number" value="<%= post.deliverNo %>">
                                                            </th>
                                                            <th style="padding-top: 15px;" name="nums">
                                                                <% if(post.usePoint == null || post.usePoint.length == 0) { %>
                                                                    0P
                                                                <% } else { %>
                                                                    <%= post.usePoint.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ','); %>P
                                                                <% } %>
                                                            </th>
                                                        </tr>
                                                    </tbody>
                                                </form>
                                                <% }) %>
                                                    <tfoot>
                                                        <th colspan="5" style="padding-top: 5px;">합계</th>
                                                        <th>총 결제 금액:<span>1,500,000</span></th>
                                                        <th colspan="2">총 입금액:<span>950,000</span></th>
                                                        <th colspan="2">미수금:<span>550,000</span></th>
                                                    </tfoot>
                                </table>
                            </div>

                            </form>
                            <div class="row">
                                <div class="col-auto me-auto"></div>
                                <div class="col-auto">
                                    <nav aria-label="Page navigation example">
                                        <ul class="pagination pagination-sm justify-content-center">
                                            <%
                                                var offset = 4;
                                                var partialQuery;
                                                if(urlQuery) partialQuery = "&"+urlQuery.replace(/page=(.*?)(&|$)/ig,"");
                                            %>
    
                                            <li class="page-item disabled">
                                                <a class="page-link" href="#" aria-label="Previous">
                                                    <span aria-hidden="true">&laquo;</span>
                                                </a>
                                            </li>
    
                                            <% for(i=1;i<=maxPage;i++){ %>
    
                                                <% if(i<=offset || i>maxPage-offset || (i>=page-(offset-1) && i<=page+(offset-1))){ %>
                                                    <% if(i != page){ %>
                                                        <li class="page-item"><a class="page-link" href="/orders/?page=<%= i %><%= partialQuery %>"><%= i %></a></li>
                                                    <% } else { %>
                                                        <li class="page-item" name="currentPage" aria-current="page"><a class="page-link" href="#"><%= i %></a></li>
                                                    <% } %>
                                                <% } else if(i == offset+1 || i == maxPage-offset){ %>
                                                        <li>...</li>
                                                <% } %>
                                            <%}%>
                                            <li class="page-item disabled">
                                            <a class="page-link" href="#" aria-label="Next">
                                                <span aria-hidden="true">&raquo;</span>
                                            </a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




</body>
<script src="/js/custom-scripts.js"></script>
<script src="/js/jquery-1.10.2.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script>




    var start = document.getElementById('start');
    var end = document.getElementById('end');

    start.addEventListener('change', function() {
        if (start.value)
            end.min = start.value;
    }, false);
    end.addEventLiseter('change', function() {
        if (end.value)
            start.max = end.value;
    }, false);






    var check = false;

    function CheckAll(chk) {

        var chk = document.getElementsByName("del_unit[]");
        if(check == false) {
            check = true;
            for(var i=0; i<chk.length;i++) {                                                                    
                chk[i].checked = chk;    //모두 체크
            }

        } else {

            check = false;
            for(var i=0; i<chk.length;i++) {                                                                    
            chk[i].checked = chk;     //모두 해제

            }
        }

        // if (confirm('전체 적용 하시겠습니까?')) {
        //     // alert(rowid);
        //     var statusFormSubmit = document.statusFormSubmit;
        //     statusFormSubmit.method = "post";
        //     statusFormSubmit.target = "_self";
        //     statusFormSubmit.action = "/orders/StatusUpdate/" + chk + "?_method=post";
        //     statusFormSubmit.submit();
        // }

    }

    function priceToString(price) {
        return price.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',');
    }


    function press(f) {
        if (f.keyCode == 13) {
            formname.submit();
        }
    }

    function statusChange(chk) {
        var chk = document.getElementsByName("del_unit[]"); // 체크박스객체를 담는다
        var len = chk.length;    //체크박스의 전체 개수
        var checkRow = '';      //체크된 체크박스의 value를 담기위한 변수
        var checkCnt = 0;        //체크된 체크박스의 개수
        var checkLast = '';      //체크된 체크박스 중 마지막 체크박스의 인덱스를 담기위한 변수
        var rowid = '';             //체크된 체크박스의 모든 value 값을 담는다
        var cnt = 0;

        for (var i = 0; i < len; i++) {
            if (chk[i].checked == true) {
                checkCnt++;        //체크된 체크박스의 개수
                checkLast = i;     //체크된 체크박스의 인덱스
            }
        }
        for (var i = 0; i < len; i++) {
            if (chk[i].checked == true) {  //체크가 되어있는 값 구분
                checkRow = chk[i].value;
                if (checkCnt == 1) {                            //체크된 체크박스의 개수가 한 개 일때,
                    rowid += "" + checkRow + "";        //'value'의 형태 (뒤에 ,(콤마)가 붙지않게)
                } else {                                            //체크된 체크박스의 개수가 여러 개 일때,
                    if (i == checkLast) {                     //체크된 체크박스 중 마지막 체크박스일 때,
                        rowid += "" + checkRow + "";  //'value'의 형태 (뒤에 ,(콤마)가 붙지않게)
                    } else {
                        rowid += "" + checkRow + ",";	 //'value',의 형태 (뒤에 ,(콤마)가 붙게)
                    }
                }
                cnt++;
                checkRow = '';    //checkRow초기화.
            }
            // alert(rowid);    //'value1', 'value2', 'value3' 의 형태로 출력된다.
        }


        if (confirm('적용 하시겠습니까?')) {
            // alert(rowid);
            var statusFormSubmit = document.statusFormSubmit;
            statusFormSubmit.method = "post";
            statusFormSubmit.target = "_self";
            statusFormSubmit.action = "/orders/statusUpdate/" + rowid + "?_method=post";
            statusFormSubmit.submit();
        }
    }





    function selectDelRow(chk) {

        var chk = document.getElementsByName("del_unit[]"); // 체크박스객체를 담는다
        var len = chk.length;    //체크박스의 전체 개수
        var checkRow = '';      //체크된 체크박스의 value를 담기위한 변수
        var checkCnt = 0;        //체크된 체크박스의 개수
        var checkLast = '';      //체크된 체크박스 중 마지막 체크박스의 인덱스를 담기위한 변수
        var rowid = '';             //체크된 체크박스의 모든 value 값을 담는다
        var cnt = 0;

        for (var i = 0; i < len; i++) {
            if (chk[i].checked == true) {
                checkCnt++;        //체크된 체크박스의 개수
                checkLast = i;     //체크된 체크박스의 인덱스
            }
        }
        for (var i = 0; i < len; i++) {
            if (chk[i].checked == true) {  //체크가 되어있는 값 구분
                checkRow = chk[i].value;
                if (checkCnt == 1) {                            //체크된 체크박스의 개수가 한 개 일때,
                    rowid += "" + checkRow + "";        //'value'의 형태 (뒤에 ,(콤마)가 붙지않게)
                } else {                                            //체크된 체크박스의 개수가 여러 개 일때,
                    if (i == checkLast) {                     //체크된 체크박스 중 마지막 체크박스일 때,
                        rowid += "" + checkRow + "";  //'value'의 형태 (뒤에 ,(콤마)가 붙지않게)
                    } else {
                        rowid += "" + checkRow + ",";	 //'value',의 형태 (뒤에 ,(콤마)가 붙게)
                    }
                }
                cnt++;
                checkRow = '';    //checkRow초기화.
            }
            // alert(rowid);    //'value1', 'value2', 'value3' 의 형태로 (id값이)출력된다.
        }



        if (confirm('정말 삭제하시겠습니까?')) {
            // alert(rowid);
            var theForm = document.frmSubmit;
            theForm.method = "post";
            theForm.target = "_self";
            theForm.action = "/orders/del/" + rowid + "?_method=delete";
            theForm.submit();
        }
    }

    function selectCheckRow(chk) {
        var obj = document.getElementsByName("del_unit[]");
        for (var i = 0; i < obj.length; i++) {
            if (obj[i] != chk) {
                obj[i].checked = false;
            }
        }
    }


    $(document).ready(function () {


        $("#myForm").submit(function () {
            if ($('#status').val() == '') {
                alert("주문상태를 정해주세요.");
                return false;
            }
            alert("저장되었습니다.")
        }); //  주문상태 submit()

        $(".active").removeClass("active");
        $("#orders").addClass("active");
        $("#forms-collapse1").addClass('show');

        $('.btn-number').click(function (e) {
            e.preventDefault();

            fieldName = $(this).attr('data-field');
            type = $(this).attr('data-type');
            var input = $("input[name='" + fieldName + "']");
            var currentVal = parseInt(input.val());
            if (!isNaN(currentVal)) {
                if (type == 'minus') {

                    if (currentVal > input.attr('min')) {
                        input.val(currentVal - 1).change();
                    }
                    if (parseInt(input.val()) == input.attr('min')) {
                        $(this).attr('disabled', true);
                    }

                } else if (type == 'plus') {

                    if (currentVal < input.attr('max')) {
                        input.val(currentVal + 1).change();
                    }
                    if (parseInt(input.val()) == input.attr('max')) {
                        $(this).attr('disabled', true);
                    }

                }
            } else {
                input.val(0);
            }
        });
        $('.input-number').focusin(function () {
            $(this).data('oldValue', $(this).val());
        });
        $('.input-number').change(function () {

            minValue = parseInt($(this).attr('min'));
            maxValue = parseInt($(this).attr('max'));
            valueCurrent = parseInt($(this).val());

            name = $(this).attr('name');
            if (valueCurrent >= minValue) {
                $(".btn-number[data-type='minus'][data-field='" + name + "']").removeAttr('disabled')
            } else {
                alert('Sorry, the minimum value was reached');
                $(this).val($(this).data('oldValue'));
            }
            if (valueCurrent <= maxValue) {
                $(".btn-number[data-type='plus'][data-field='" + name + "']").removeAttr('disabled')
            } else {
                alert('Sorry, the maximum value was reached');
                $(this).val($(this).data('oldValue'));
            }


        });
        $(".input-number").keydown(function (e) {
            // Allow: backspace, delete, tab, escape, enter and .
            if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 190]) !== -1 ||
                // Allow: Ctrl+A
                (e.keyCode == 65 && e.ctrlKey === true) ||
                // Allow: home, end, left, right
                (e.keyCode >= 35 && e.keyCode <= 39)) {
                // let it happen, don't do anything
                return;
            }
            // Ensure that it is a number and stop the keypress
            if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
                e.preventDefault();
            }
        });

    });
</script>

</html>