<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../../../partials/head %>
        <title></title>
        <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
</head>
<script type="text/javascript" src="/js/jquery-1.10.2.js"></script>

<body>

    <header>
        <% include ../../../partials/header %>
    </header>


    <div class="container-fluid">
        <div class="row">
            <!-- 2단길이의 첫번째 열 -->
            <div class="col-md-2">
                <% include ../../../partials/oside %>
            </div>

            <!-- 10단길이의 첫번째 열 -->
            <div class="col-md-10">
                <div id="page-inner">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="page-header">
                                상세검색
                            </h1>
                        </div>
                    </div>

                    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <!-- <form method="" action=""> -->
                            <table class="table-bordered table table-striped table-hover">
                                <tr>
                                    <th class="text-center" style="padding-top: 15px;">기간</th>
                                    <td colspan="3">
                                        <div class="row g-4 align-self-center">
                                            <div class="col-2">
                                                <select class="form-select" aria-label="Default select example">
                                                    <option selected>주문일</option>
                                                    <option value="1">배송 완료일</option>
                                                    <option value="2">취소 완료일</option>
                                                    <option value="3">반품 요청일</option>
                                                    <option value="4">반품 완료일</option>
                                                    <option value="5">교환 요청일</option>
                                                    <option value="6">교환 완료일</option>
                                                </select>
                                            </div>
                                            <div class="col-5">
                                                <a href="#" class="btn btn-default btn-sm">전체</a>
                                                <a href="#" class="btn btn-default btn-sm">오늘</a>
                                                <a href="#" class="btn btn-default btn-sm">3일</a>
                                                <a href="#" class="btn btn-default btn-sm">7일</a>
                                                <a href="#" class="btn btn-default btn-sm">1개월</a>
                                                <a href="#" class="btn btn-default btn-sm">3개월</a>
                                                <a href="#" class="btn btn-default btn-sm">1년</a>
                                            </div>
                                            <div class="col-2">
                                                <input type="date" id="date" style="height:25px;">
                                            </div>
                                            <div class="col-1">
                                                ~
                                            </div>
                                            <div class="col-2">
                                                <input type="date" id="date2" style="height:25px;">
                                            </div>
                                        </div>
                                    </td>
                                    <td rowspan="3">
                                        <div class="justify-content-center">
                                            <button class="btn btn-info" style="margin-top: 56px;"
                                                type="button">검색</button>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="text-center" style="padding-top: 20px;">검색 조건</th>
                                    <td colspan="3">
                                        <div class="row g-4 align-self-center">
                                            <div class="col-2">
                                                <select class="form-select" aria-label="Default select example">
                                                    <option selected>주문 번호</option>
                                                    <option value="1">주문자 아이디</option>
                                                    <option value="2">주문자 연락처</option>
                                                    <option value="3">주문자명</option>
                                                    <option value="4">수신자명</option>
                                                    <option value="5">주문 상품명</option>
                                                    <option value="6">운송장 번호</option>
                                                </select>
                                            </div>
                                            <div class="col-5">
                                                <input name="s_od_name" class="form-control" type="text" value>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="col-2" style="text-align: center; padding-top: 15px;">주문 상태</th>
                                    <td colspan="3">
                                        <div class="row g-4 align-self-center">
                                            <div class="col-2">
                                                <select class="form-select" aria-label="Default select example">
                                                    <option selected>주문 관리</option>
                                                    <option value="1">취소 관리</option>
                                                    <option value="2">반품 관리</option>
                                                    <option value="3">교환 관리</option>
                                                </select>
                                            </div>
                                            <div class="col-10">
                                                <div class="row g-4 align-items-center" style="padding-top: 12px;">
                                                    <div class="col-2">
                                                        <input class="form-check-input" type="checkbox"
                                                            id="inlineCheckbox1" value="option1">
                                                        <label class="form-check-label" for="inlineCheckbox1">결제
                                                            확인중</label>
                                                    </div>
                                                    <div class="col-2">
                                                        <input class="form-check-input" type="checkbox"
                                                            id="inlineCheckbox2" value="option2">
                                                        <label class="form-check-label" for="inlineCheckbox2">결제
                                                            확인</label>
                                                    </div>
                                                    <div class="col-2">
                                                        <input class="form-check-input" type="checkbox"
                                                            id="inlineCheckbox3" value="option3">
                                                        <label class="form-check-label" for="inlineCheckbox3">배송
                                                            준비중</label>
                                                    </div>
                                                    <div class="col-2">
                                                        <input class="form-check-input" type="checkbox"
                                                            id="inlineCheckbox4" value="option4">
                                                        <label class="form-check-label"
                                                            for="inlineCheckbox4">배송중</label>
                                                    </div>
                                                    <div class="col-2">
                                                        <input class="form-check-input" type="checkbox"
                                                            id="inlineCheckbox5" value="option5">
                                                        <label class="form-check-label" for="inlineCheckbox5">배송
                                                            완료</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                            <!-- </form> -->
                            <div class="accordion-body">
                                <div class="row justify-content-center">
                                    <form id="myForm" name="statusFormSubmit" style="text-align: center;">
                                        <div class="col-2" style="float: left;">
                                            <select class="form-select form-select-sm" 
                                                aria-label=".form-select-sm example" id="status" name="post[status]">
                                                <option disabled selected>주문 상태</option>
                                                <option value="status_ready">결제 확인중</option>
                                                <option value="status_paid">결제 확인</option>
                                                <option value="deliver_ready">배송 준비중</option>
                                                <option value="deliver_during">배송중</option>
                                                <option value="deliver_completed">배송 완료</option>
                                                <option value="cencel_request">취소 요청</option>
                                                <option value="cencel_progress">취소 처리중</option>
                                                <option value="cencel_completed">취소 완료</option>
                                                <option value="return_request">반품 요청</option>
                                                <option value="return_progress">반품 처리중</option>
                                                <option value="return_completed">반품 완료</option>
                                                <option value="swap_request">교환 요청</option>
                                                <option value="swap_during">교환중</option>
                                                <option value="swap_completed">교환 완료</option>
                                            </select>
                                        </div>
                                        <br>
                                        <div class="col-8" style="float: left; margin-top: -23px;">
                                            <button class="btn btn-info btn-sm" type="button"
                                                onclick="statusChange(this)"><span class="entypo-check">선택 주문상태 변경</span></button>
                                            <button type="button" class="btn btn-warning btn-sm">선택 SMS
                                                발송</button>
                                            <button class="btn btn-primary btn-sm" type="button"><span
                                                    class="entypo-check">선택 현금영수증 발행</span></button>
                                            <button type="button" class="btn btn-success btn-sm">Excel
                                                Download</button>
                                        </div>
                                    </form>

                                    <form name="frmSubmit" style="text-align: right;">
                                        <button type="button" class="btn btn-danger btn-sm"
                                            onclick="selectDelRow(this)">🗑 주문 삭제</button>
                                    </form>
                                </div>
                            </div>
                            <div class="table-responsive">
                                <table class="table table-bordered  table-condensed table-hover  text-center">
                                    <thead>
                                        <tr>
                                            <th rowspan="2">
                                                <input class="form-check-input" type="checkbox" name="del_unit[]" 
                                                onclick="CheckAll(this)"/>
                                            </th>
                                            <th colspan="1">주문일</th>
                                            <th rowspan="2" style="padding-bottom: 20px;">주문 상태</th>
                                            <th rowspan="2" style="padding-bottom: 20px;">상품명</th>
                                            <th rowspan="2" style="padding-bottom: 20px;">수량</th>
                                            <th colspan="1">택배사</th>
                                            <th rowspan="2" style="padding-bottom: 20px;">주문자</th>
                                            <th rowspan="2" style="padding-bottom: 20px;">결제 방법</th>
                                            <th colspan="1">결제 금액</th>
                                            <th rowspan="2" style="padding-bottom: 20px;">보기</th>
                                        </tr>
                                        <tr>
                                            <th>주문 번호</th>
                                            <th>운송장 번호</th>
                                            <th>포인트 사용</th>
                                        </tr>
                                    </thead>
                                    <% if(orders==null || orders.length==0) { %>
                                        <tr class="noData">
                                            <td colspan="5">There is no data to show :(</td>
                                        </tr>
                                        <% } %>
                                            <% orders.forEach(function(post, index){ %>
                                                <input type="hidden" name="id" value="<%=post._id%>" />
                                                <form action="/orders/<%= post._id %>/deliverNoUpdate" method="post"
                                                    name="formname">
                                                    <tbody>
                                                        <tr>
                                                            <th rowspan="2" style="padding-top: 40px;">
                                                                <input class="form-check-input" type="checkbox"
                                                                    value="<%= post._id %>" name="del_unit[]"
                                                                    onclick="selectCheckRow(this)">
                                                            </th>
                                                            <th colspan="1" style="padding-top: 15px;">
                                                                <%= post.getFormattedDate(post.paid_at) %>
                                                                    <%= post.getFormattedTime(post.paid_at) %>
                                                            </th>
                                                            <th rowspan="2" style="padding-top: 40px;">
                                                                <% if(post.status == 'status_ready')  { %>
                                                                    결제 확인중
                                                                <% } else if(post.status == 'status_paid')  { %>
                                                                    결제 확인
                                                                <% } else if(post.status == 'deliver_ready') { %>
                                                                    배송 준비중 
                                                                <% } else if(post.status == 'deliver_during') { %>
                                                                    배송중
                                                                <% } else if(post.status == 'deliver_completed') { %>
                                                                    배송 완료
                                                                <% } else if(post.status == 'cencel_request') { %>
                                                                    취소 요청
                                                                <% } else if(post.status == 'cencel_progress') { %>
                                                                    취소 처리중
                                                                <% } else if(post.status == 'cencel_completed') { %>
                                                                    취소 완료
                                                                <% } else if(post.status == 'return_request') { %>
                                                                    반품 요청
                                                                <% } else if(post.status == 'return_progress') { %>
                                                                    반품 처리중
                                                                <% } else if(post.status == 'return_completed') { %>
                                                                    반품 완료
                                                                <% } else if(post.status == 'swap_request') { %>
                                                                    교환 요청
                                                                <% } else if(post.status == 'swap_during') { %>
                                                                    교환중
                                                                <% } else if(post.status == 'swap_completed') { %>
                                                                    교환 완료
                                                                <% } %>
                                                            </th>
                                                            <th rowspan="2" style="padding-top: 40px;"
                                                                onclick="window.location = '/orders/<%= post._id %>?<%= urlQuery %>'">
                                                                <%= post.name %>
                                                            </th>
                                                            <th rowspan="2" style="padding-top: 40px;">
                                                                <%= post.productCount %>개
                                                            </th>
                                                            <th colspan="1">
                                                                <select class="form-select" name="post[deliverCompany]"
                                                                    aria-label="Default select example"
                                                                    value="<%= post.deliverCompany %>">
                                                                    <option selected>cj 택배</option>
                                                                    <option value="우체국 택배">우체국 택배</option>
                                                                    <option value="한진 택배">한진 택배</option>
                                                                    <option value="로젠 택배">로젠 택배</option>
                                                                </select>
                                                            </th>
                                                            <th rowspan="2" style="padding-top: 40px;">
                                                                <%= post.buyer_name %>
                                                            </th>
                                                            <th rowspan="2" style="padding-top: 40px;">
                                                                <%= post.pay_method %>
                                                            </th>
                                                            <th colspan="1" style="padding-top: 15px;" >
                                                                <%= post.amount %>원
                                                            </th>
                                                            <th rowspan="2" style="padding-top: 40px;"></th>
                                                        </tr>
                                                        <tr>
                                                            <th style="padding-top: 15px;" name="post[imp_uid]">
                                                                <%= post.imp_uid %>
                                                            </th>
                                                            <th>
                                                                <input name="post[deliverNo]" class="form-control"
                                                                    type="number" value="<%= post.deliverNo %>">
                                                            </th>
                                                            <th style="padding-top: 15px;" name="nums">
                                                                <%= post.usePoint %>P
                                                            </th>
                                                        </tr>
                                                    </tbody>
                                                </form>
                                                <% }) %>
                                                    <tfoot>
                                                        <th colspan="5" style="padding-top: 5px;">합계</th>
                                                        <th>총 결제 금액:<span>1,500,000</span></th>
                                                        <th colspan="2">총 입금액:<span>950,000</span></th>
                                                        <th colspan="2">미수금:<span>550,000</span></th>
                                                    </tfoot>
                                </table>
                            </div>

                            </form>
                            <div class="row">
                                <div class="col-auto me-auto"></div>
                                <div class="col-auto">
                                    <nav aria-label="Page navigation example">
                                        <ul class="pagination pagination-sm justify-content-center">
                                            <%
                                                var offset = 4;
                                                var partialQuery;
                                                if(urlQuery) partialQuery = "&"+urlQuery.replace(/page=(.*?)(&|$)/ig,"");
                                            %>
    
                                            <li class="page-item disabled">
                                                <a class="page-link" href="#" aria-label="Previous">
                                                    <span aria-hidden="true">&laquo;</span>
                                                </a>
                                            </li>
    
                                            <% for(i=1;i<=maxPage;i++){ %>
    
                                                <% if(i<=offset || i>maxPage-offset || (i>=page-(offset-1) && i<=page+(offset-1))){ %>
                                                    <% if(i != page){ %>
                                                        <li class="page-item"><a class="page-link" href="/orders/?page=<%= i %><%= partialQuery %>"><%= i %></a></li>
                                                    <% } else { %>
                                                        <li class="page-item" name="currentPage" aria-current="page"><a class="page-link" href="#"><%= i %></a></li>
                                                    <% } %>
                                                <% } else if(i == offset+1 || i == maxPage-offset){ %>
                                                        <li>...</li>
                                                <% } %>
                                            <%}%>
                                            <li class="page-item disabled">
                                            <a class="page-link" href="#" aria-label="Next">
                                                <span aria-hidden="true">&raquo;</span>
                                            </a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




</body>
<script src="/js/custom-scripts.js"></script>
<script src="/js/jquery-1.10.2.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script>

var check = false;

    function CheckAll(chk) {

        var chk = document.getElementsByName("del_unit[]");
        if(check == false) {
            check = true;
            for(var i=0; i<chk.length;i++) {                                                                    
                chk[i].checked = chk;    //모두 체크
            }

        } else {

            check = false;
            for(var i=0; i<chk.length;i++) {                                                                    
            chk[i].checked = chk;     //모두 해제

            }
        }

        if (confirm('전체 적용 하시겠습니까?')) {
            alert(rowid);
            var statusFormSubmit = document.statusFormSubmit;
            statusFormSubmit.method = "post";
            statusFormSubmit.target = "_self";
            statusFormSubmit.action = "/orders/StatusUpdate/" + rowid + "?_method=post";
            statusFormSubmit.submit();
        }

    }




    //세 자리 콤마

    
    // function addComma(usePoint) {
    //     var usePoint = document.getElementsByName("nums");
    //     var regexp = /\B(?=(\d{3})+(?!\d))/g;
    //     return usePoint.toString().replace(regexp, ',');
    // }


    function priceToString(price) {
        return price.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',');
    }

    

    function press(f) {
        if (f.keyCode == 13) {
            formname.submit();
        }
    }

    function statusChange(chk) {
        var chk = document.getElementsByName("del_unit[]"); // 체크박스객체를 담는다
        var len = chk.length;    //체크박스의 전체 개수
        var checkRow = '';      //체크된 체크박스의 value를 담기위한 변수
        var checkCnt = 0;        //체크된 체크박스의 개수
        var checkLast = '';      //체크된 체크박스 중 마지막 체크박스의 인덱스를 담기위한 변수
        var rowid = '';             //체크된 체크박스의 모든 value 값을 담는다
        var cnt = 0;

        for (var i = 0; i < len; i++) {
            if (chk[i].checked == true) {
                checkCnt++;        //체크된 체크박스의 개수
                checkLast = i;     //체크된 체크박스의 인덱스
            }
        }
        for (var i = 0; i < len; i++) {
            if (chk[i].checked == true) {  //체크가 되어있는 값 구분
                checkRow = chk[i].value;
                if (checkCnt == 1) {                            //체크된 체크박스의 개수가 한 개 일때,
                    rowid += "" + checkRow + "";        //'value'의 형태 (뒤에 ,(콤마)가 붙지않게)
                } else {                                            //체크된 체크박스의 개수가 여러 개 일때,
                    if (i == checkLast) {                     //체크된 체크박스 중 마지막 체크박스일 때,
                        rowid += "" + checkRow + "";  //'value'의 형태 (뒤에 ,(콤마)가 붙지않게)
                    } else {
                        rowid += "" + checkRow + ",";	 //'value',의 형태 (뒤에 ,(콤마)가 붙게)
                    }
                }
                cnt++;
                checkRow = '';    //checkRow초기화.
            }
            // alert(rowid);    //'value1', 'value2', 'value3' 의 형태로 출력된다.
        }


        if (confirm('적용 하시겠습니까?')) {
            // alert(rowid);
            var statusFormSubmit = document.statusFormSubmit;
            statusFormSubmit.method = "post";
            statusFormSubmit.target = "_self";
            statusFormSubmit.action = "/orders/StatusUpdate/" + rowid + "?_method=post";
            statusFormSubmit.submit();
        }
    }





    function selectDelRow(chk) {

        var chk = document.getElementsByName("del_unit[]"); // 체크박스객체를 담는다
        var len = chk.length;    //체크박스의 전체 개수
        var checkRow = '';      //체크된 체크박스의 value를 담기위한 변수
        var checkCnt = 0;        //체크된 체크박스의 개수
        var checkLast = '';      //체크된 체크박스 중 마지막 체크박스의 인덱스를 담기위한 변수
        var rowid = '';             //체크된 체크박스의 모든 value 값을 담는다
        var cnt = 0;

        for (var i = 0; i < len; i++) {
            if (chk[i].checked == true) {
                checkCnt++;        //체크된 체크박스의 개수
                checkLast = i;     //체크된 체크박스의 인덱스
            }
        }
        for (var i = 0; i < len; i++) {
            if (chk[i].checked == true) {  //체크가 되어있는 값 구분
                checkRow = chk[i].value;
                if (checkCnt == 1) {                            //체크된 체크박스의 개수가 한 개 일때,
                    rowid += "" + checkRow + "";        //'value'의 형태 (뒤에 ,(콤마)가 붙지않게)
                } else {                                            //체크된 체크박스의 개수가 여러 개 일때,
                    if (i == checkLast) {                     //체크된 체크박스 중 마지막 체크박스일 때,
                        rowid += "" + checkRow + "";  //'value'의 형태 (뒤에 ,(콤마)가 붙지않게)
                    } else {
                        rowid += "" + checkRow + ",";	 //'value',의 형태 (뒤에 ,(콤마)가 붙게)
                    }
                }
                cnt++;
                checkRow = '';    //checkRow초기화.
            }
            // alert(rowid);    //'value1', 'value2', 'value3' 의 형태로 (id값이)출력된다.
        }



        if (confirm('정말 삭제하시겠습니까?')) {
            // alert(rowid);
            var theForm = document.frmSubmit;
            theForm.method = "post";
            theForm.target = "_self";
            theForm.action = "/orders/del/" + rowid + "?_method=delete";
            theForm.submit();
        }
    }

    function selectCheckRow(chk) {
        var obj = document.getElementsByName("del_unit[]");
        for (var i = 0; i < obj.length; i++) {
            if (obj[i] != chk) {
                obj[i].checked = false;
            }
        }
    }


    $(document).ready(function () {


        $("#myForm").submit(function () {
            if ($('#status').val() == '') {
                alert("주문상태를 정해주세요.");
                return false;
            }
            alert("저장되었습니다.")
        }); //  주문상태 submit()

        $(".active").removeClass("active");
        $("#orders").addClass("active");
        $("#forms-collapse1").addClass('show');

        $('.btn-number').click(function (e) {
            e.preventDefault();

            fieldName = $(this).attr('data-field');
            type = $(this).attr('data-type');
            var input = $("input[name='" + fieldName + "']");
            var currentVal = parseInt(input.val());
            if (!isNaN(currentVal)) {
                if (type == 'minus') {

                    if (currentVal > input.attr('min')) {
                        input.val(currentVal - 1).change();
                    }
                    if (parseInt(input.val()) == input.attr('min')) {
                        $(this).attr('disabled', true);
                    }

                } else if (type == 'plus') {

                    if (currentVal < input.attr('max')) {
                        input.val(currentVal + 1).change();
                    }
                    if (parseInt(input.val()) == input.attr('max')) {
                        $(this).attr('disabled', true);
                    }

                }
            } else {
                input.val(0);
            }
        });
        $('.input-number').focusin(function () {
            $(this).data('oldValue', $(this).val());
        });
        $('.input-number').change(function () {

            minValue = parseInt($(this).attr('min'));
            maxValue = parseInt($(this).attr('max'));
            valueCurrent = parseInt($(this).val());

            name = $(this).attr('name');
            if (valueCurrent >= minValue) {
                $(".btn-number[data-type='minus'][data-field='" + name + "']").removeAttr('disabled')
            } else {
                alert('Sorry, the minimum value was reached');
                $(this).val($(this).data('oldValue'));
            }
            if (valueCurrent <= maxValue) {
                $(".btn-number[data-type='plus'][data-field='" + name + "']").removeAttr('disabled')
            } else {
                alert('Sorry, the maximum value was reached');
                $(this).val($(this).data('oldValue'));
            }


        });
        $(".input-number").keydown(function (e) {
            // Allow: backspace, delete, tab, escape, enter and .
            if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 190]) !== -1 ||
                // Allow: Ctrl+A
                (e.keyCode == 65 && e.ctrlKey === true) ||
                // Allow: home, end, left, right
                (e.keyCode >= 35 && e.keyCode <= 39)) {
                // let it happen, don't do anything
                return;
            }
            // Ensure that it is a number and stop the keypress
            if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
                e.preventDefault();
            }
        });

    });
</script>

</html>