<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <header>
      <% include ../partials/header %>
    </header>
    <div class="posts">
    <% include partials/top %>
<!-- main start-->

<!-- views/skinqna/index.ejs -->
<div class="edit">
  <div class="buttons">
    <button onclick="history.back()">Back</button>
  </div>
  <h3>공지사항 관리</h3>
  <form class="checkValidation" action="/skinqna/<%=post._id%>?_method=put" method="post" enctype="multipart/form-data">
    <div class="inputs">
      <div class="floats">
        <label>베스트 고민</label>
        <div class="checkbox" style="margin-left: -225px;">
        <input type="checkbox" name="post[editor]"  value="true" <%= post.editor ? "checked" : "value=false" %> />
        </div>
      </div>
      <div class="floats">
        <label>피부고민 제목</label>
        <input class="cvRequired" type="text" name="post[title]" cvRqErrMsg="Title is required." cvRqErrTo="#cvErrTitle" value="<%=post.title%>">
        <div id="cvErrTitle" class="message"></div>
      </div>
      <div class="floats">
        <label>피부고민 본문</label>
        <textarea class="cvRequired" name="post[contents]" cvRqErrMsg="Body is required." cvRqErrTo="#cvErrBody"><%=post.contents%></textarea>
        <div id="cvErrBody" class="message"></div>
      </div>
      <div class="floats">
        <label>피부고민 이미지</label>
        <img src="<%= url %>">
      </div>


    </div>


    <div class="buttons">
      <button type="submit">Submit</button>
    </div>
  </form>
</div>

<!-- main end -->
    </div><!--skinqnaskinqna end -->
    <footer>
      <% include ../partials/footer %>
    </footer>
  </body>
</html>
