<!DOCTYPE html>
<html>

<head>
  <% include ../partials/head %>
</head>

<body>
  <header>
    <% include ../partials/header %>
  </header>
  <div class="posts">
    <% include partials/top %>
    <!-- main start-->

    <!-- views/skinqna/show.ejs -->
    <div class="show">
      <div class="buttons floats">
        <form class="float_right" action="/skinqna/<%=post._id%>?_method=delete" method="post">
          <button type="button"
            onclick="confirm('Your post will be deleted')?this.parentElement.submit():null;">Delete</button>
        </form>
        <button class="float_right" onclick="location.href='/skinqna/<%=post._id%>/edit'">Edit</button>
        <button class="float_left" onclick="location.href='/skinqna?<%= urlQuery %>'">Back</button>
      </div>
      <!-- <h3>
    <%= post.numId %>
    <span class="highlight" data-highlight="<%= search.highlight.title %>">
      [<%= post.select %>]
    </span>
  </h3> -->
      <div class="content floats">
        <div class="info float_right">
          <div>
            <%= post.views %> views
          </div>
          <div class="timestamp"><span>Created:</span>
            <%= post.getFormattedTime(post.createdAt) %>, <%= post.getFormattedDate(post.createdAt) %>
          </div>
          <% if(post.updatedAt) { %>
          <div class="timestamp"><span>Updated:</span>
            <%= post.getFormattedTime(post.updatedAt) %>, <%= post.getFormattedDate(post.updatedAt) %>
          </div>
          <% } %>
        </div>
        <h3>피부고민 관리</h3>
        <div class="body highlight" data-highlight="<%= search.highlight.body %>">베스트고민 여부 : <%= post.editor %></div>

        <div class="body highlight" data-highlight="<%= search.highlight.body %>">피부고민 분류 : <%= post.select %></div>

        <div class="body highlight" data-highlight="<%= search.highlight.body %>">피부고민 제목 : <%= post.title %></div>

        <div class="body highlight" data-highlight="<%= search.highlight.body %>">피부고민 내용 : <%= post.contents %></div>

        <div class="body highlight" data-highlight="<%= search.highlight.body %>"><img src="<%= url %>"></div>

        <div class="comments">
          <h4>Comments (<%= post.comments?post.comments.length:"0" %>)</h4>
          <% if(post.comments) { %>
          <% post.comments.forEach(function(comment){ %>
          <div class="comment">
            <div class="top">
              <b><%= comment.email %></b>
              (<%= post.getFormattedTime(comment.createdAt) %>,
              <%= post.getFormattedDate(comment.createdAt) %>)
              <form class="delete" method="post"
                action="/skinqna/<%=post._id%>/comments/<%=comment._id%>?_method=delete&<%= urlQuery %>">
                <button type="button"
                  onclick="confirm('Your comment will be deleted')?this.parentElement.submit():null;">
                  x
                </button>
              </form>
            </div>
            <div class="body"><%= comment.comment %></div>
          </div>
          <% }) %>
          <% } %>
          <form class="addComment checkValidation" action="/skinqna/<%=post._id%>/comments?<%= urlQuery %>"
            method="post">
            <input type="hidden" name="comment[isDelete]" value=false />
            <input type="hidden" name="comment[nameAdmin]" value="true" />
            <textarea class="cvRequired" type="text" name="comment[body]" cvRqErrMsg="comments is empty."
              cvRqErrTo="#cvErrTitle" <%= user?"":"disabled" %>
              placeholder="<%= user?"Add comment here":"Please login to make a comment" %>"></textarea>
            <button type="submit" <%= user?"":"disabled" %>>Comment</button>
            <div id="cvErrTitle" class="message"></div>
          </form>
        </div>
      </div>
    </div>

    <!-- main end -->
  </div>
  <!--skinqna end -->
  <footer>
    <% include ../partials/footer %>
  </footer>
</body>

</html>