<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../../../../partials/head %>
    <title></title>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
</head>
<script type="text/javascript" src="/js/jquery-1.10.2.js"></script>
<script>
  $(document).ready(function () {
    $(".active").removeClass("active");
    $("#contents").addClass("active");
    $("#forms-collapse2").addClass('show');
  });
</script>
<title>Hello, world!</title>

<body>

  <header>
    <% include ../../../../partials/header %>
  </header>


  <div class="container-fluid">
    <div class="row">
      <!-- 2단길이의 첫번째 열 -->
      <div class="col-md-2">
        <!-- 사이드 메뉴 시작 -->
        <% include ../../../../partials/side %>
          <!-- 사이드 메뉴 종료 -->
      </div>


      <!-- 10단길이의 첫번째 열 -->
      <div class="col-md-10">
        <div id="page-inner">
          <!-- /. ROW  -->
          <div class="row">
            <div class="col-lg-12">
              <div class="panel panel-default">
                <div class="panel-heading">
                  내용보기
                </div>
                <br>
                <!-- <button type="button" class="w-15 m-1 btn btn-primary btn-sm">작성</button>
                <button type="button" class="w-15 m-1 btn btn-success btn-sm"
                  onclick="location.href='/answerComments/Comments/Answer/edit'">수정</button>
                <button type="button" class="w-15 m-1 btn btn-success btn-sm"
                  onclick="location.href='/answerComments/Comments/Answer/new'">담변</button> -->
                <div class="col-md-4 d-grid gap-2 d-md-block">
                  <form action="/answerComments/<%= post._id %>?_method=delete" method="post">
                    <button type="submit" class="w-15 m-1 btn btn-danger btn-sm float_left"
                      onclick="confirm('정말 삭제하시겠습니까?')?this.parentElement.submit():null;">삭제</button>
                  </form>
                  <button type="button" class="w-15 m-1 btn btn-primary btn-sm"
                    onclick="location.href='/answerComments/'">목록으로</button>
                </div>

                <table class="table-bordered table table-striped table-hover">
                  <tr>
                    <th class="text-center">작성자</th>
                    <td class="text-left"><%= post.email %></td>
                    <th class="text-center" width="250">분류</th>
                    <td width="400" class="text-left">
                      <%= post.select %>
                    </td>
                  </tr>
                  <tr>
                    <th class="col-2" style="text-align: center;">조회수</th>
                    <td class="text-left" class="text-left"><%= post.views %></td>
                    <th class="text-center" width="250">작성일</th>
                    <td width="400" class="text-left"><%=post.getFormattedDate(post.createdAt)%></td>
                  </tr>
                  <!-- <tr>
                    <th class="col-2" style="text-align: center;">첨부파일</th>
                    <td colspan="3" class="text-left">없음</td>
                  </tr> -->
                  <tr>
                    <td colspan="4"><%= post.qna %></td>
                  </tr>
                </table>

                <div class="panel-body">

                  <h4 class="mt-3">댓글</h4>
                  <% if(post.comments) { %>
                    <% post.comments.forEach(function(comment, index) { %>
                      <% if(comment.isDelete === false) { %>
                        <div class="mt-3 border-bottom">
                          <div class="border-top pt-1 pb-1">
                            <div class="row">
                              <div class="col-3 col-md-2 col-lg-3 pl-4"><%=// post.author.nickname %> <%= comment.email %></div>
                              <div class="col-9 col-md-10 col-lg-7">
                                <div class="comment-show">
                                  <div class="comment-text mb-3"><%= comment.body %></div>
                                  <small class="d-block">
                                    <% var realTime = comment.createdAt %>
                                    <% realTime.setHours(realTime.getHours() - 9); %>
                                    (작성일: <span><%= post.getFormattedTime(comment.createdAt) %>, <%= post.getFormattedDate(comment.createdAt) %> </span>)
                                  </small>
                                </div>
                              </div>
                              <div class="col-lg-2">
                                <% //if(user && user.equals(post.author._id)) { %>
                                  <form class="float_right" method="post"
                                    action="/answerComments/<%= post._id %>/comments/<%= comment._id %>?_method=delete&<%= urlQuery %>">
                                    <button type="button" class="w-15 m-1 btn btn-danger btn-sm"
                                      onclick="confirm('댓글을 삭제하시겠습니까?')?this.parentElement.submit():null;">
                                      x
                                    </button>  
                                  </form>
                                <% //} %>
                              </div>
                            </div>
                          </div>
                        </div>
                      <% } %>
                    <% }) %>
                  <% } %>
                  <div class="mt-3">
                    <form class="addComment checkValidation"
                        action="/answerComments/<%= post._id %>/comments?<%= urlQuery %>" method="post">
                      <fieldset>
                        <div class="row">
                          <!-- <input type="hidden" name="comment[email]" value="<%=// comment.email %>" /> -->
                          <input type="hidden" name="comment[isDelete]" value=false />
                          <input type="hidden" name="comment[nameAdmin]" value="true" />
                          <!-- <input type="hidden" name="id" value="<%=//post._id%>" /> -->
                          <!-- <input type="hidden" name="pushtoken" value="<%=// post.pushtoken %>" /> -->
                          <div class="col-8">
                            <textarea type="text" name="comment[body]" class="form-control" <%= user?"":"disabled" %> 
                              placeholder="<%= user?"댓글 달기":"로그인이 필요합니다." %>"></textarea>
                          </div>
                          <div class="col-4">
                            <button type="submit" class="btn btn-primary h-100 mr-2" <%= user?"":"disabled" %>>저장</button>
                          </div>
                        </div>
                      </fieldset>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>




</body>

<script src="/js/jquery-1.10.2.js"></script>
<!-- Bootstrap Js -->
<script src="/js/bootstrap.min.js"></script>
<!-- Custom Js -->
<script src="/js/custom-scripts.js"></script>

</html>