<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <header>
      <% include ../partials/header %>
    </header>
    <div class="posts">
    <% include partials/top %>
<!-- main start-->

<!-- views/beautynote/index.ejs -->
<div class="edit">
  <div class="buttons">
    <button onclick="history.back()">Back</button>
  </div>
  <h3>커뮤니티 뷰티노트 관리</h3>
  <form class="checkValidation" action="/beautynote/<%=post._id%>?_method=put" method="post" enctype="multipart/form-data">
    <div class="inputs">
      <div class="floats">
        <div class="floats">
          <label>인기노트</label>
          <div class="checkbox" style="margin-left: -225px;">
          <input type="checkbox" name="post[editor]"  value="true" <%= post.editor ? "checked" : "value=false" %> />
          </div>
          <!-- <div id="cvErrTitle" class="message"></div> -->
        </div>
        <label>뷰티노트 분류</label>
        <input class="cvRequired" type="text" name="post[select]" cvRqErrMsg="Title is required." cvRqErrTo="#cvErrTitle" value="<%=post.select%>">
        <div id="cvErrTitle" class="message"></div>
      </div>
      <div class="floats">
        <label>뷰티노트 제목</label>
        <input type="text" class="cvRequired" name="post[title]" cvRqErrMsg="Body is required." cvRqErrTo="#cvErrBody" value="<%=post.title%>">
        <div id="cvErrBody" class="message"></div>
      </div>
      <div class="floats">
        <label>뷰티노트 내용</label>
        <textarea class="cvRequired" name="post[contents]" cvRqErrMsg="Body is required." cvRqErrTo="#cvErrBody"><%=post.contents%></textarea>
        <div id="cvErrBody" class="message"></div>
      </div>
      <div class="floats">
        <label>뷰티노트 이미지</label>
        <img src="<%= url %>">
      </div>
      <span>이전 뷰티 팁 이미지 파일 다운로드 : <a href="<%= url %>" download><%=preoriginalName%></a> - 링크 클릭</span>
      <h2 style="color: red" >미션 제품 이미지 사이즈(px) : 300 X 300</h2>
      <input type="hidden" name="prefilename" value="<%=prefilename%>" />
      <input type="hidden" name="preoriginalName" value="<%=preoriginalName%>" />




    </div>


    <div class="buttons">
      <button type="submit">Submit</button>
    </div>
  </form>
</div>

<!-- main end -->
    </div><!--beautynote end -->
    <footer>
      <% include ../partials/footer %>
    </footer>
  </body>
</html>
