<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../../../../partials/head %>
    <title></title>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'/>
</head>
<script type="text/javascript" src="/js/jquery-1.10.2.js"></script>
<script>
    $(document).ready(function () {

        $('li[aria-current="page"]').addClass("active");

        $("a.active").removeClass("active");
        $("#contents").addClass("active");

        // $("#challBtn").bind("click");
        // $("#challBtn").trigger("click");
        // $("#challBtn").removeClass("collapsed");
        // $("#challBtn").attr('aria-expanded', 'true');
        $("#forms-collapse1").addClass('show');

        $('.btn-number').click(function (e) {
            e.preventDefault();

            fieldName = $(this).attr('data-field');
            type = $(this).attr('data-type');
            var input = $("input[name='" + fieldName + "']");
            var currentVal = parseInt(input.val());
            if (!isNaN(currentVal)) {
                if (type == 'minus') {

                    if (currentVal > input.attr('min')) {
                        input.val(currentVal - 1).change();
                    }
                    if (parseInt(input.val()) == input.attr('min')) {
                        $(this).attr('disabled', true);
                    }

                } else if (type == 'plus') {

                    if (currentVal < input.attr('max')) {
                        input.val(currentVal + 1).change();
                    }
                    if (parseInt(input.val()) == input.attr('max')) {
                        $(this).attr('disabled', true);
                    }

                }
            } else {
                input.val(0);
            }
        });
        $('.input-number').focusin(function () {
            $(this).data('oldValue', $(this).val());
        });
        $('.input-number').change(function () {

            minValue = parseInt($(this).attr('min'));
            maxValue = parseInt($(this).attr('max'));
            valueCurrent = parseInt($(this).val());

            name = $(this).attr('name');
            if (valueCurrent >= minValue) {
                $(".btn-number[data-type='minus'][data-field='" + name + "']").removeAttr('disabled')
            } else {
                alert('Sorry, the minimum value was reached');
                $(this).val($(this).data('oldValue'));
            }
            if (valueCurrent <= maxValue) {
                $(".btn-number[data-type='plus'][data-field='" + name + "']").removeAttr('disabled')
            } else {
                alert('Sorry, the maximum value was reached');
                $(this).val($(this).data('oldValue'));
            }


        });
        $(".input-number").keydown(function (e) {
            // Allow: backspace, delete, tab, escape, enter and .
            if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 190]) !== -1 ||
                // Allow: Ctrl+A
                (e.keyCode == 65 && e.ctrlKey === true) ||
                // Allow: home, end, left, right
                (e.keyCode >= 35 && e.keyCode <= 39)) {
                // let it happen, don't do anything
                return;
            }
            // Ensure that it is a number and stop the keypress
            if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
                e.preventDefault();
            }
        });

    });
</script>
<body>

<header>
    <% include ../../../../partials/header %>
</header>


<div class="container-fluid">
    <div class="row">
        <!-- 2단길이의 첫번째 열 -->
        <div class="col-md-2">
            <% include ../../../../partials/side %>
        </div>

        <!-- 10단길이의 첫번째 열 -->
        <div class="col-md-10">
            <div id="page-inner">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="page-header">
                            포스트 관리
                            <!-- <small> 챌린지 관리 Sub제목</small> -->
                        </h1>
                    </div>
                </div>
                <!-- <div class="accordion-body">
                    <div class="container">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="text-left" style="margin-top:5px;">포스트 관리</h4>



                            </div>
                        </div>
                    </div>
                </div> -->

                <!-- <div class="row">
                    <div class="col-lg-12">
                        <label class="col-9"></label>
                        <div class="form-check form-check-inline col-2 text-right" style="padding-left:0;">
                            <input class="form-control" list="datalistOptions" id="exampleDataList"
                                   placeholder="Type to search...">
                        </div>
                    </div>
                </div> -->

                <div class="panel-body" style="padding-top:0px;padding-bottom:15px;">
                    <div class="table-responsive dataTables_wrapper form-inline">
                        <table class="table table-bordered  table-condensed table-hover  text-center">
                            <tr>
                                <form class="checkValidation" action="/beautyTip">
                                    <th class="text-center" width="150" style="padding-top: 20px;">포스트 관리</th>
                                    <td colspan="3" class="text-left">
                                        <% if(typeof search.findAfter == "undefined" || search.findAfter == null || search.findAfter == "") {%>
                                            <div class="col-lg-12">
                                                노출위치 &nbsp;
                                                <div class="form-check form-check-inline">
                                                    <input name="searchCheck[home]" class="form-check-input" type="checkbox"
                                                           id="inlineCheckbox1" value=true>
                                                    <label class="form-check-label" for="inlineCheckbox1">메인홈</label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <input name="searchCheck[poreSize]" class="form-check-input"
                                                           type="checkbox" id="inlineCheckbox2" value=true>
                                                    <label class="form-check-label" for="inlineCheckbox2">모공크기</label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <input name="searchCheck[poreCount]" class="form-check-input"
                                                           type="checkbox" id="inlineCheckbox3" value=true>
                                                    <label class="form-check-label" for="inlineCheckbox3">모공수</label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <input name="searchCheck[skinTone]" class="form-check-input"
                                                           type="checkbox" id="inlineCheckbox4" value=true>
                                                    <label class="form-check-label" for="inlineCheckbox4">피부톤</label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <input name="searchCheck[clean]" class="form-check-input"
                                                           type="checkbox" id="inlineCheckbox5" value=true>
                                                    <label class="form-check-label" for="inlineCheckbox5">클린지수</label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <input name="searchCheck[munjin]" class="form-check-input"
                                                           type="checkbox" id="inlineCheckbox6" value=true>
                                                    <label class="form-check-label" for="inlineCheckbox6">생활문진</label>
                                                </div>
                                                <!-- <div class="form-check form-check-inline">
                                                    <input name="searchCheck[editor]" class="form-check-input"
                                                           type="checkbox" id="inlineCheckbox7" value=true>
                                                    <label class="form-check-label" for="inlineCheckbox7">에디터추천</label>
                                                </div> -->
                                            </div>
                                            <div class="col-lg-12">
                                                분류별 &nbsp;
                                                <div class="form-check form-check-inline">
                                                    <input name="searchCheck[tip]" class="form-check-input"
                                                           type="checkbox" id="inlineCheckbox1" value=true>
                                                    <label class="form-check-label" for="inlineCheckbox1">TIP</label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <input name="searchCheck[hit]" class="form-check-input"
                                                           type="checkbox" id="inlineCheckbox2" value=true>
                                                    <label class="form-check-label" for="inlineCheckbox2">HIT</label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <input name="searchCheck[new]" class="form-check-input"
                                                           type="checkbox" id="inlineCheckbox3" value=true>
                                                    <label class="form-check-label" for="inlineCheckbox3">NEW</label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <input name="sortCheck[downView]" class="form-check-input"
                                                           type="checkbox" id="inlineCheckbox4" value=true>
                                                    <label class="form-check-label" for="inlineCheckbox4">낮은조회수</label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <input name="sortCheck[upView]" class="form-check-input"
                                                           type="checkbox" id="inlineCheckbox5" value=true>
                                                    <label class="form-check-label" for="inlineCheckbox5">높은조회수</label>
                                                </div>
                                            </div>
                                        <% } else { %>
                                                <div class="col-lg-12">
                                                    노출위치 &nbsp;
                                                    <div class="form-check form-check-inline">
                                                        <input name="searchCheck[home]" class="form-check-input" type="checkbox"
                                                               id="inlineCheckbox1" value=true <% if(search.findAfter.home) { %> checked <% }%> >
                                                        <label class="form-check-label" for="inlineCheckbox1">메인홈</label>
                                                    </div>
                                                    <div class="form-check form-check-inline">
                                                        <input name="searchCheck[poreSize]" class="form-check-input"
                                                               type="checkbox" id="inlineCheckbox2" value=true <% if(search.findAfter.poreSize) { %> checked <% }%>>
                                                        <label class="form-check-label" for="inlineCheckbox2">모공크기</label>
                                                    </div>
                                                    <div class="form-check form-check-inline">
                                                        <input name="searchCheck[poreCount]" class="form-check-input"
                                                               type="checkbox" id="inlineCheckbox3" value=true <% if(search.findAfter.poreCount) { %> checked <% }%>>
                                                        <label class="form-check-label" for="inlineCheckbox3">모공수</label>
                                                    </div>
                                                    <div class="form-check form-check-inline">
                                                        <input name="searchCheck[skinTone]" class="form-check-input"
                                                               type="checkbox" id="inlineCheckbox4" value=true <% if(search.findAfter.skinTone) { %> checked <% }%>>
                                                        <label class="form-check-label" for="inlineCheckbox4">피부톤</label>
                                                    </div>
                                                    <div class="form-check form-check-inline">
                                                        <input name="searchCheck[clean]" class="form-check-input"
                                                               type="checkbox" id="inlineCheckbox5" value=true <% if(search.findAfter.clean) { %> checked <% }%>>
                                                        <label class="form-check-label" for="inlineCheckbox5">클린지수</label>
                                                    </div>
                                                    <div class="form-check form-check-inline">
                                                        <input name="searchCheck[munjin]" class="form-check-input"
                                                               type="checkbox" id="inlineCheckbox6" value=true <% if(search.findAfter.munjin) { %> checked <% }%>>
                                                        <label class="form-check-label" for="inlineCheckbox6">생활문진</label>
                                                    </div>
                                                    <!-- <div class="form-check form-check-inline">
                                                        <input name="searchCheck[editor]" class="form-check-input"
                                                               type="checkbox" id="inlineCheckbox7" value=true <% if(search.findAfter.editor) { %> checked <% }%>>
                                                        <label class="form-check-label" for="inlineCheckbox7">에디터추천</label>
                                                    </div> -->
                                                </div>
                                                <div class="col-lg-12">
                                                    분류별 &nbsp;
                                                    <div class="form-check form-check-inline">
                                                        <input name="searchCheck[tip]" class="form-check-input"
                                                               type="checkbox" id="inlineCheckbox1" value=true <% if(search.findAfter.tip) { %> checked <% }%>>
                                                        <label class="form-check-label" for="inlineCheckbox1">TIP</label>
                                                    </div>
                                                    <div class="form-check form-check-inline">
                                                        <input name="searchCheck[hit]" class="form-check-input"
                                                               type="checkbox" id="inlineCheckbox2" value=true <% if(search.findAfter.hit) { %> checked <% }%>>
                                                        <label class="form-check-label" for="inlineCheckbox2">HIT</label>
                                                    </div>
                                                    <div class="form-check form-check-inline">
                                                        <input name="searchCheck[new]" class="form-check-input"
                                                               type="checkbox" id="inlineCheckbox3" value=true <% if(search.findAfter.new) { %> checked <% }%>>
                                                        <label class="form-check-label" for="inlineCheckbox3">NEW</label>
                                                    </div>
                                                    <div class="form-check form-check-inline">
                                                        <input name="sortCheck[downView]" class="form-check-input"
                                                               type="checkbox" id="inlineCheckbox4" value=true <% if(search.findAfter.downView) { %> checked <% }%>>
                                                        <label class="form-check-label" for="inlineCheckbox4">낮은조회수</label>
                                                    </div>
                                                    <div class="form-check form-check-inline">
                                                        <input name="sortCheck[upView]" class="form-check-input"
                                                               type="checkbox" id="inlineCheckbox5" value=true <% if(search.findAfter.upView) { %> checked <% }%>>
                                                        <label class="form-check-label" for="inlineCheckbox5">높은조회수</label>
                                                    </div>
                                                </div>
                                        <% } %>
                                    </td>
                                    <td>
                                        <button type="submit" class="btn btn-primary"
                                                style="padding-bottom: 15px; padding-top: 15px;">모아보기(임시)
                                        </button>
                                    </td>
                                </form>
                            </tr>
                        </table>

                        <table class="table table-striped table-bordered table-image text-center">
                            <thead>
                            <tr>
                                <th scope="col">No.</th>
                                <th scope="col">이미지</th>
                                <th scope="col">노출위치</th>
                                <th scope="col">분류</th>
                                <th scope="col">콘텐츠 제목</th>
                                <th scope="col">조회수</th>
                                <th scope="col">댓글</th>
                                <th scope="col">글쓴이</th>
                                <th scope="col">업데이트일</th>
                                <th scope="col">활성화</th>
                            </tr>
                            </thead>
                            <tbody>
                            <% if(commuBeauty == null || commuBeauty.length == 0){ %>
                                <tr class="noData">
                                    <td colspan="10">There is no data to show :(</td>
                                </tr>
                            <% } %>
                            <% commuBeauty.forEach(function(post, index){ %>
                                <tr>
                                    <th scope="row" class="align-middle">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value=""
                                                   id="flexCheckDefault">
                                            <label class="form-check-label"
                                                   for="flexCheckDefault"><%= post.numId %></label>
                                        </div>
                                    </th>

                                    <td onclick="window.location = '/beautyTip/CommuBeauty/<%= post._id %>?<%= urlQuery %>'"
                                        class="align-middle"><img style="max-width: 40px;"
                                                                  src="https://plinic.s3.ap-northeast-2.amazonaws.com/<%= post.filename %>"
                                                                  class="img-thumbnail" alt="..."></td>
                                    <td onclick="window.location = '/beautyTip/CommuBeauty/<%= post._id %>?<%= urlQuery %>'"
                                        class="align-middle"><u>에디터 추천</u></td>
                                    <td onclick="window.location = '/beautyTip/CommuBeauty/<%= post._id %>?<%= urlQuery %>'"
                                        class="align-middle">뷰티템
                                    </td>
                                    <td onclick="window.location = '/beautyTip/CommuBeauty/<%= post._id %>?<%= urlQuery %>'"
                                        class="align-middle"><%= post.body %></td>
                                    <td class="align-middle"><%= post.views %></td>
                                    <td class="align-middle">-</td>
                                    <td class="align-middle"><%= post.author.nickname %></td>
                                    <% var realTime = post.createdAt %>
                                    <% realTime.setHours(realTime.getHours() - 9); %>
                                    <td class="align-middle"><%= post.getFormattedDate(post.createdAt) %></td>
                                    <% if(!post.isEmpty(post.visible)) { %>
                                        <td class="align-middle">활성화</td>
                                    <% } else { %>
                                    <td class="align-middle"><%= post.visible ? "활성화" : "비활성화" %></td>
                                    <% } %>

                                </tr>
                            <% }) %>
                            </tbody>
                        </table>

                        <div class="row">
                            <div class="col-md-4 d-grid gap-2 d-md-block">
                                <!-- <button class="btn btn-primary" type="button">삭제</button> -->
                            </div>
                            <div class="col-md-4">
                                <nav aria-label="Page navigation example">
                                    <ul class="pagination pagination-sm justify-content-center">
                                        <%
                                        var offset = 3;
                                        var partialQuery;
                                        if (urlQuery) partialQuery = "&" + urlQuery.replace(/page=(.*?)(&|$)/ig, "");
                                        %>

                                        <li class="page-item disabled">
                                            <a class="page-link" href="#" aria-label="Previous">
                                                <span aria-hidden="true">&laquo;</span>
                                            </a>
                                        </li>

                                        <% for(i = 1;i <= maxPage;i++){ %>

                                            <% if(i <= offset || i > maxPage - offset || (i >= page - (offset - 1) && i <= page + (offset - 1))){ %>
                                                <% if(i != page){ %>
                                                    <!-- <li>[<a href="/carezone?page=<%= i %><%= partialQuery %>"> <%= i %> </a>]</li> -->
                                                    <li class="page-item"><a class="page-link"
                                                                             href="/beautyTip/?page=<%= i %><%= partialQuery %>"><%= i %></a>
                                                    </li>
                                                <% } else { %>
                                                    <li class="page-item" name="currentPage" aria-current="page"><a
                                                                class="page-link" href="#"><%= i %></a></li>
                                                <% } %>
                                            <% } else if(i == offset + 1 || i == maxPage - offset){ %>
                                                <li>...</li>
                                            <% } %>
                                        <% } %>
                                        <li class="page-item disabled">
                                            <a class="page-link" href="#" aria-label="Next">
                                                <span aria-hidden="true">&raquo;</span>
                                            </a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                            <div class="col-md-4">
                                <div class="d-grid d-md-block d-md-flex justify-content-md-end">
                                    <button type="button" onclick="location.href='/contents/BeautyTip/PostMgt/new'"
                                            class="btn btn-primary me-md-2">신규 등록
                                    </button>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>


            </div>
        </div>
    </div>
</div>


</body>
<script src="/js/custom-scripts.js"></script>
<script src="/js/jquery-1.10.2.js"></script>
<script src="/js/bootstrap.min.js"></script>

</html>
