<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../../../../partials/head %>
        <title></title>
        <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
</head>
<script type="text/javascript" src="/js/jquery-1.10.2.js"></script>
<body>

    <header>
        <% include ../../../../partials/header %>
    </header>


    <div class="container-fluid">
        <div class="row">
            <!-- 2단길이의 첫번째 열 -->
            <div class="col-md-2">
                <% include ../../../../partials/pside %>
            </div>

            <!-- 10단길이의 첫번째 열 -->
            <div class="col-md-10">
                <div id="page-inner">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="page-header">
                                상품 목록
                                <!-- <small> 챌린지 관리 Sub제목</small> -->
                            </h1>
                        </div>
                    </div>

                    <div class="accordion" id="accordionExample">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingOne">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    상세검색
                                </button>
                            </h2>
                            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <!-- <form action="" id="">
                                        <table class="table-bordered table table-striped table-hover">
                                            <tr>
                                                <th class="text-center" style="padding-top: 15px;">등록일</th>
                                                <td colspan="3">
                                                    <div class="row g-4 align-items-center">
                                                        <div class="col-3">
                                                            <input type="date" id="date" style="height:25px;">
                                                        </div>
                                                        <div class="col-1">
                                                            ~
                                                        </div>
                                                        <div class="col-3">
                                                            <input type="date" id="date2" style="height:25px;">
                                                        </div>
                                                        <div class="col-5">
                                                            <a href="#" class="btn btn-default btn-sm">오늘</a>
                                                            <a href="#" class="btn btn-default btn-sm">어제</a>
                                                            <a href="#" class="btn btn-default btn-sm">이번주</a>
                                                            <a href="#" class="btn btn-default btn-sm">지난주</a>
                                                            <a href="#" class="btn btn-default btn-sm">이번달</a>
                                                            <a href="#" class="btn btn-default btn-sm">전체</a>
                                                        </div>
                                                    </div>

                                                </td>
                                                <td rowspan="7">
                                                    <div class="align-items-center" style="padding-top: 130px;">
                                                        <input type="button" id="SearchSubmit"
                                                            class="btn btn-info btn-lg" value="검색"
                                                            style="height: 45px;">
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th class="text-center" style="padding-top: 20px;">상품명</th>
                                                <td>
                                                    <input name="s_od_name" class="form-control" type="text" value>
                                                </td>
                                                <th class="text-center" style="padding-top: 20px;" width="210">상품가격</th>
                                                <td width="350">
                                                    <div class="row g-4 align-items-center">
                                                        <div class="col-4">
                                                            <input type="text" id="number1" class="form-control">
                                                        </div>
                                                        <div class="col-1" style="padding-right:40px;">
                                                            <label for="number" class="col-form-label"> 원 ~ </label>
                                                        </div>
                                                        <div class="col-4">
                                                            <input type="text" id="number2" class="form-control">
                                                        </div>
                                                        <div class="col-1">
                                                            <label for="number" class="col-form-label"> 원 </label>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th class="col-2" style="text-align: center; padding-top: 15px;">분류명
                                                </th>
                                                <td colspan="3">
                                                    <div class="row g-4 align-items-center">
                                                        <div class="col-4">
                                                            <select class="form-select"
                                                                aria-label="Default select example">
                                                                <option selected>선택</option>
                                                                <option value="1">One</option>
                                                                <option value="2">Two</option>
                                                                <option value="3">Three</option>
                                                            </select>
                                                        </div>
                                                        <div class="col-4">
                                                            <select class="form-select"
                                                                aria-label="Default select example">
                                                                <option selected>선택</option>
                                                                <option value="1">One</option>
                                                                <option value="2">Two</option>
                                                                <option value="3">Three</option>
                                                            </select>
                                                        </div>
                                                        <div class="col-4">
                                                            <select class="form-select"
                                                                aria-label="Default select example">
                                                                <option selected>선택</option>
                                                                <option value="1">One</option>
                                                                <option value="2">Two</option>
                                                                <option value="3">Three</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th class="col-2" style="text-align: center; padding-top:20px;">재고</th>
                                                <td>
                                                    <div class="row g-4 align-items-center">
                                                        <div class="col-4">
                                                            <input type="text" id="number3" class="form-control">
                                                        </div>
                                                        <div class="col-1" style="padding-right:40px;">
                                                            <label for="number" class="col-form-label"> 개 ~ </label>
                                                        </div>
                                                        <div class="col-4">
                                                            <input type="text" id="number4" class="form-control">
                                                        </div>
                                                        <div class="col-1">
                                                            <label for="number" class="col-form-label"> 개 </label>
                                                        </div>
                                                    </div>
                                                </td>
                                                <th class="text-center" style="padding-top: 20px;">품절여부</th>
                                                <td>
                                                    <div class="row g-4 align-items-center" style="padding-top: 12px;">
                                                        <div class="col-3">
                                                            <input class="form-check-input" type="checkbox"
                                                                id="inlineCheckbox1" value="option1">
                                                            <label class="form-check-label"
                                                                for="inlineCheckbox1">전체</label>
                                                        </div>
                                                        <div class="col-3">
                                                            <input class="form-check-input" type="checkbox"
                                                                id="inlineCheckbox2" value="option2">
                                                            <label class="form-check-label"
                                                                for="inlineCheckbox2">품절</label>
                                                        </div>
                                                        <div class="col-4">
                                                            <input class="form-check-input" type="checkbox"
                                                                id="inlineCheckbox3" value="option3">
                                                            <label class="form-check-label" for="inlineCheckbox3">품절
                                                                제외</label>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th class="col-2" style="text-align: center; padding-top: 15px;">상품 TAG
                                                </th>
                                                <td>
                                                    <div class="col-12">
                                                        <select class="form-select" aria-label="Default select example">
                                                            <option selected>선택</option>
                                                            <option value="1">One</option>
                                                            <option value="2">Two</option>
                                                            <option value="3">Three</option>
                                                        </select>
                                                    </div>
                                                </td>
                                                <th colspan="2"></th>
                                            </tr>
                                            <tr>
                                                <th class="col-2" style="text-align: center; padding-top: 15px;">목록수
                                                </th>
                                                <td>
                                                    <div class="col-12">
                                                        <select class="form-select" aria-label="Default select example">
                                                            <option selected>20</option>
                                                            <option value="1">One</option>
                                                            <option value="2">Two</option>
                                                            <option value="3">Three</option>
                                                        </select>
                                                    </div>
                                                </td>
                                                <th class="col-2" style="text-align: center; padding-top: 15px;">정렬순위
                                                </th>
                                                <td>
                                                    <div class="row g-4 align-items-center">
                                                        <div class="col-6">
                                                            <select class="form-select"
                                                                aria-label="Default select example">
                                                                <option selected>진열순서</option>
                                                                <option value="1">One</option>
                                                                <option value="2">Two</option>
                                                                <option value="3">Three</option>
                                                            </select>
                                                        </div>
                                                        <div class="col-6">
                                                            <select class="form-select"
                                                                aria-label="Default select example">
                                                                <option selected>오름차순</option>
                                                                <option value="1">One</option>
                                                                <option value="2">Two</option>
                                                                <option value="3">Three</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>
                                    </form> -->

                                        <table class="table-bordered table table-striped table-hover">
                                            <form class="checkValidation" action="/product/" id="search">
                                                <tr>
                                                    <th class="text-center" style="padding-top: 15px;">검색 조건</th>
                                                    <td colspan="3">
                                                        <div class="row g-4 align-self-center">
                                                            <div class="col-2">
                                                                <select class="form-select" aria-label="Default select example" name="searchType" <%= search.searchType=="author!"?"disabled":"" %>>
                                                                    <% var select %>
                                                                    <option value="small_category,product_name"
                                                                    <%= search.searchType=="small_category,product_name"?select="selected":"" %>>카테고리/상품명</option>
                                                                    <option value="product_num"
                                                                    <%= search.searchType=="product_num"?select="selected":"" %>>상품코드</option>
                                                                    <option value=Amount
                                                                    <%= search.searchType=="Amount"?select="selected":"" %>>상품가격</option>
                                                                <!-- 여기 -->
                                                                </select>
                                                            </div>
                                                            <div class="col-5">
                                                                <input class="cvMinLength" cvMinLength="2"
                                                                cvMinLenErrTo="#searchError" style="float: left; width: 300px; height: 28px;"
                                                                cvMinLenErrMsg="It should be at least 2 characters"
                                                                type="text" name="searchText" value="<%= select?search.searchText:"" %>"
                                                                <%= search.searchType=="author!"?"disabled":"" %>>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td rowspan="2">
                                                        <div class="row justify-content-center">
                                                            <div class="col-6 p-0 m-0">
                                                                <button type="submit" id="btnSearch"  class="btn btn-info" <%= search.searchType=="author!"?"disabled":"" %>>검색</button>
                                                            </div>
                                                            <%if(search.searchType){%>
                                                            <div class="col-6 p-0 m-0">
                                                                <button type="button" class="btn btn-secondary" onclick="window.location = '/product?page=1'">취소</button>
                                                            </div>
                                                            <%}%>
                                                            <div class="message" id="searchError"></div>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </form>
                                        </table>

                                        <div class="accordion-body">
                                            <div class="row g-4 align-items-center">
                                                <div class="col-1">
                                                    <button class="btn btn-default btn-icon btn-sm" type="button" disabled><span
                                                            class="entypo-check">✓</span>전체선택</button>
                                                </div>
                                                <div class="col-1">
                                                    <button class="btn btn-default btn-icon btn-sm" type="button" disabled><span
                                                            class="entypo-check">✗</span>선택해제</button>
                                                </div>
                                                <div class="col-2">
                                                    <select class="form-select form-select-sm"
                                                        aria-label=".form-select-sm example" disabled>
                                                        <option selected>선택상품 TAG 변경</option>
                                                        <option value="1">One</option>
                                                        <option value="2">Two</option>
                                                        <option value="3">Three</option>
                                                    </select>
                                                </div>
                                                <div class="col-1">
                                                    <button type="button" class="btn btn-info btn-sm" disabled>TAG 변경</button>
                                                </div>
                                                <div class="col-1 ms-auto">
                                                    <button class="btn btn-default btn-icon btn-sm" type="button"
                                                    onclick="location.href='/product/ProductData/ProductRegister'">
                                                    <span class="entypo-check">✎</span>상품등록</button>
                                                </div>
                                                <div class="col-1 sm-auto">
                                                    <button type="button" class="btn btn-info btn-sm" disabled>📩 선택 상품 변경</button>
                                                </div>
                                                <form name="frmSubmit" style="text-align: right;" class="col-2 sm-auto" >
                                                    <button type="button" class="btn btn-danger btn-sm"
                                                        onclick="selectDelRow(this)">🗑 선택 상품 삭제</button>
                                                </form>
                                            </div>
                                            
                                        </div>
                                        <div class="table-responsive">
                                            <table class="table table-striped table-bordered table-image text-center">
                                                <thead>
                                                    <tr>
                                                        <th scope="col"><input class="form-check-input" type="checkbox"
                                                            name="del_unit[]" value="" id="flexCheckDisabled" disabled></th>
                                                        <th scope="col">No.</th>
                                                        <th scope="col">이미지</th>
                                                        <th scope="col">카테고리/상품명</th>
                                                        <th scope="col">상품코드</th>
                                                        <th scope="col">판매가격</th>
                                                        <!-- <th scope="col">넥스트 딜 설정</th> -->
                                                        <th scope="col">공개/비공개</th>
                                                        <th scope="col">품절/해제</th>
                                                        <th scope="col">적립포인트</th>
                                                        <th scope="col">재고수량</th>
                                                        <th scope="col">상품 URL</th>
                                                        <th scope="col">제조사</th>
                                                        <th scope="col">관리</th>
                                                    </tr>
                                                </thead>
                                                <% if(product==null || product.length==0) { %>
                                                    <tr class="noData">
                                                        <td colspan="14">There is no data to show :(</td>
                                                    </tr>
                                                <% } %>
                                                <% product.forEach(function(post, index) { %>
                                                    <input type="hidden" name="id" value="<%= post._id %>" />
                                                    <input type="hidden" name="id" value="<%= post.product_num %>" />
                                                    <form action="/product/<%= post._id %>/productUpdate" method="post" name="formname">
                                                        <tbody>
                                                            <tr>
                                                                <th scope="row" class="align-middle">
                                                                    <input class="form-check-input" type="checkbox" 
                                                                    value="<%= post._id %>" name="del_unit[]"
                                                                    onclick="selectCheckRow(this)">
                                                                </th>
                                                                <th scope="row" class="align-middle">
                                                                    <div class="num">
                                                                        <label class="form-check-label"
                                                                            for="flexCheckDefault">
                                                                        <input type="hidden" value="<%= post.numId %>"/>
                                                                        <%= post.numId %>
                                                                        </label>
                                                                    </div>
                                                                </th>
                                                                <td class="w-25 align-middle">

                                                                <% if( post.image_url  == null) { %>
                                                                    <img src="https://plinic.s3.ap-northeast-2.amazonaws.com/<%= post.filename %>"
                                                                    style="max-width:200px;" class="img-thumbnail" alt="..." onerror="this.style.display='none'">
                                                                <% } else { %> 
                                                                <img src="<%= post.image_url %>" style="max-width:200px;"
                                                                class="img-thumbnail" alt="..." onerror="this.style.display='none'">
                                                                <% } %>
                                                                    <!-- <img src="https://plinic.s3.ap-northeast-2.amazonaws.com/<%=// post.filename %>"
                                                                    class="img-thumbnail" alt="..." onerror="this.style.display='none'">
                                                                    <img src="<%=// post.image_url %>" style="max-width:120px;"
                                                                    class="img-thumbnail" alt="..." onerror="this.style.display='none'"> -->
                                                                    <!-- <%// if(post.image_url == null) { %>
                                                                        <img src="https://plinic.s3.ap-northeast-2.amazonaws.com/<%=// post.filename %>"
                                                                            class="img-thumbnail" alt="...">
                                                                    <%// } else if(post.filename == null) { %>
                                                                        <img src="<%=// post.image_url %>" style="max-width:120px;"
                                                                            class="img-thumbnail" alt="...">
                                                                    <%// } %> -->
                                                                </td>
                                                                <td class="align-middle">
                                                                    <div>
                                                                        <%= post.small_category %>
                                                                    </div>
                                                                    <div>
                                                                        &
                                                                    </div>
                                                                    <span>
                                                                        <%= post.product_name %>
                                                                    </span>
                                                                    </td>
                                                                <td class="align-middle">
                                                                    <div class="rows">
                                                                        <span class="code">
                                                                            <%= post.product_num %>
                                                                            <input type="hidden" name="post[product_num]" value="<%= post.product_num %>" />
                                                                        </span>
                                                                    </div>
                                                                    <div class="rows">
                                                                        <button type="button" style="margin-top: 10px;" class="btn btn-warning"
                                                                        onclick="window.location='/product/producPreview/<%= post._id %>?<%= urlQuery %>'">상품 미리보기</button>
                                                                    </div>
                                                                    <div class="rows">
                                                                        <button type="button" style="margin-top: 10px;" disabled
                                                                            class="btn btn-info">메모</button> <!-- productDesc -->
                                                                    </div>
                                                                </td>
                                                                <td class="align-middle">
                                                                    <%=// post.Amount.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ','); %> <!-- 판매가격 -->
                                                                    <%=// post.price.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ','); %> <!--원--> <!-- 소비자가 -->
                                                                    <%=post.Amount %> 원
                                                                </td>
                                                                <!-- <td class="align-middle">
                                                                    <%// if(post.nextDeal == false) { %>
                                                                        <div class="col-12">
                                                                            <label class="col-md-3 text-left">설정&nbsp;</label>
                                                                            <input class="form-check-input" type="checkbox" value=true
                                                                                name="post[nextDeal]">
                                                                            <br>
                                                                            <div>/</div>
                                                                            <label class="col-md-3 text-left">해제</label>
                                                                            <input class="form-check-input" type="checkbox" value=false disabled
                                                                            name="post[nextDeal]">
                                                                        </div>
                                                                        <br><br>
                                                                        <div class="col-12">
                                                                            <label class="">넥스트 딜 종료 날짜</label>
                                                                            <input type="date" name="post[nextDealText]" style="height: 30px;"
                                                                                data-validate="data">
                                                                        </div>
                                                                    <%// } else if(post.nextDeal == true) { %>
                                                                        <label class="col-md-3 text-left">설정&nbsp;</label>
                                                                        <input class="form-check-input" type="checkbox" value=true disabled
                                                                            name="post[nextDeal]">
                                                                        <br>
                                                                        <div>/</div>
                                                                        <label class="col-md-3 text-left">해제</label>
                                                                        <input class="form-check-input" type="checkbox" value=false
                                                                            name="post[nextDeal]">
                                                                    <%// } %>
                                                                </td> -->
                                                                <td class="align-middle">
                                                                <% if(post.noPublic == false) { %>
                                                                    <label class="col-md-3 text-left">공개</label>
                                                                    <input class="form-check-input" type="checkbox" value=false disabled
                                                                    name="post[noPublic]">
                                                                    <br>
                                                                    <div>/</div>
                                                                    <label class="col-md-3 text-left">비공개&nbsp;</label>
                                                                    <input class="form-check-input" type="checkbox" value=true
                                                                        name="post[noPublic]">
                                                                <% } else if(post.noPublic == true) { %>
                                                                    <label class="col-md-3 text-left">공개</label>
                                                                    <input class="form-check-input" type="checkbox" value=false
                                                                        name="post[noPublic]">
                                                                    <br>
                                                                    <div>/</div>
                                                                    <label class="col-md-3 text-left">비공개&nbsp;</label>
                                                                    <input class="form-check-input" type="checkbox" value=true disabled
                                                                        name="post[noPublic]">
                                                                <% } %>
                                                                </td>
                                                                <td class="align-middle">
                                                                <% if(post.outofStock == true) { %>
                                                                    <input class="form-check-input" type="checkbox" value=true
                                                                        name="post[outofStock]" disabled>
                                                                    <br>
                                                                    <div>/</div>
                                                                    <input class="form-check-input" type="checkbox" value=false
                                                                        name="post[outofStock]">
                                                                <% } else if(post.outofStock == false) { %>
                                                                    <input class="form-check-input" type="checkbox" value=true
                                                                        name="post[outofStock]">
                                                                    <br>
                                                                    <div>/</div>
                                                                    <input class="form-check-input" type="checkbox" value=false
                                                                        name="post[outofStock]" disabled>
                                                                <% } %>
                                                                </td>
                                                                <td scope="row" class="align-middle">
                                                                    <div class="sel" style="width:120px;">
                                                                        <select class="form-select" 
                                                                            aria-label="Default select example">
                                                                            <option disabled selected>포인트 설정</option>
                                                                            <option value="use_disabled">사용안함</option>
                                                                            <option value="price_ratio">판매가 비율</option>
                                                                        </select>
                                                                    </div>
                                                                    <div class="sel-point">
                                                                        <input type="number" name="" class="form-control"
                                                                        value="<%=// post.maxPercent %>">
                                                                    </div>
                                                                </td>
                                                                <td class="d-grid gap-3"
                                                                    style="padding-top: 15px; padding-bottom: 42px;">
                                                                    <div class="rows">
                                                                        <label class="count">현재 재고</label>
                                                                        <input type="text" class="form-control"
                                                                            placeholder="999">
                                                                    </div>
                                                                    <div class="rows">
                                                                        <label class="count">미입금포함 재고</label>
                                                                        <input class="form-control" type="text"
                                                                            placeholder="999"
                                                                            aria-label="Disabled input example" disabled>
                                                                    </div>
                                                                </td>
                                                                <td class="align-middle">
                                                                    <div class="rows">
                                                                        <button type="button" class="btn btn-danger">상품주소
                                                                            복사</button>
                                                                        <input type="text"  class="form-control">
                                                                    </div>
                                                                    <div class="rows" style="margin-top: 40px;">
                                                                        <button type="button" class="btn btn-success">배송확인주소
                                                                            복사</button>
                                                                        <input type="text"  class="form-control">
                                                                    </div>
                                                                </td>
                                                                <td class="align-middle">
                                                                    <%= post.brand_name %>
                                                                </td>
                                                                <td class="d-grid gap-3">
                                                                    <button type="submit" class="btn btn-info">변경</button>
                                                    </form>
                                                                    <button type="button" class="btn btn-primary" type="button"
                                                                        onclick="location.href='/product/ProductRegister/<%=post._id%>/edit'">수정</button>
                                                                    <form action="/product/rowdel/<%= post._id %>?_method=delete" method="post">
                                                                        <button type="submit" class="btn btn-danger">삭제</button>
                                                                    </form>
                                                                    <button type="button" class="btn btn-dark" disabled>복사</button>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                <% }) %>
                                            </table>
                                        </div>

                                    <div class="row">
                                        <div class="col-auto me-auto"></div>
                                        <div class="col-auto">
                                            <nav aria-label="Page navigation example">
                                                <ul class="pagination pagination-sm justify-content-center">
                                                    <%
                                                    var offset = 5;
                                                    var partialQuery;
                                                    if (urlQuery) partialQuery = "&" + urlQuery.replace(/page=(.*?)(&|$)/ig, "");
                                                    %>
                
                                                    <li class="page-item disabled">
                                                        <a class="page-link" href="#" aria-label="Previous">
                                                            <span aria-hidden="true">&laquo;</span>
                                                        </a>
                                                    </li>
                
                                                    <% for(i = 1;i <= maxPage;i++){ %>
                
                                                        <% if(i <= offset || i > maxPage - offset || (i >= page - (offset - 1) && i <= page + (offset - 1))){ %>
                                                            <% if(i != page){ %>
                                                                <li class="page-item"><a class="page-link"
                                                                                         href="/product/?page=<%= i %><%= partialQuery %>"><%= i %></a>
                                                                </li>
                                                            <% } else { %>
                                                                <li class="page-item" name="currentPage" aria-current="page"><a
                                                                            class="page-link" href="#"><%= i %></a></li>
                                                            <% } %>
                                                        <% } else if(i == offset + 1 || i == maxPage - offset){ %>
                                                            <li>...</li>
                                                        <% } %>
                                                    <% } %>
                                                    <li class="page-item disabled">
                                                        <a class="page-link" href="#" aria-label="Next">
                                                            <span aria-hidden="true">&raquo;</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </nav>
                                        </div>
                                    </div>

                                </div>



                                

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    </div>




</body>
<script src="/js/custom-scripts.js"></script>
<script src="/js/jquery-1.10.2.js"></script>
<script src="/js/bootstrap.min.js"></script>

<script>


    function press(f) {
        if (f.keyCode == 13) {
            formname.submit();
        }
    }


    // function rowChange(chk) {
    //     var chk = document.getElementsByName("del_unit[]"); // 체크박스객체를 담는다
    //     var len = chk.length;    //체크박스의 전체 개수
    //     var checkRow = '';      //체크된 체크박스의 value를 담기위한 변수
    //     var checkCnt = 0;        //체크된 체크박스의 개수
    //     var checkLast = '';      //체크된 체크박스 중 마지막 체크박스의 인덱스를 담기위한 변수
    //     var rowid = '';             //체크된 체크박스의 모든 value 값을 담는다
    //     var cnt = 0;

    //     for (var i = 0; i < len; i++) {
    //         if (chk[i].checked == true) {
    //             checkCnt++;        //체크된 체크박스의 개수
    //             checkLast = i;     //체크된 체크박스의 인덱스
    //         }
    //     }
    //     for (var i = 0; i < len; i++) {
    //         if (chk[i].checked == true) {  //체크가 되어있는 값 구분
    //             checkRow = chk[i].value;
    //             if (checkCnt == 1) {                            //체크된 체크박스의 개수가 한 개 일때,
    //                 rowid += "" + checkRow + "";        //'value'의 형태 (뒤에 ,(콤마)가 붙지않게)
    //             } else {                                            //체크된 체크박스의 개수가 여러 개 일때,
    //                 if (i == checkLast) {                     //체크된 체크박스 중 마지막 체크박스일 때,
    //                     rowid += "" + checkRow + "";  //'value'의 형태 (뒤에 ,(콤마)가 붙지않게)
    //                 } else {
    //                     rowid += "" + checkRow + ",";	 //'value',의 형태 (뒤에 ,(콤마)가 붙게)
    //                 }
    //             }
    //             cnt++;
    //             checkRow = '';    //checkRow초기화.
    //         }
    //         // alert(rowid);    //'value1', 'value2', 'value3' 의 형태로 출력된다.
    //     }


    //     if (confirm('적용 하시겠습니까?')) {
    //         // alert(rowid);
    //         var formname = document.formname;
    //         formname.method = "post";
    //         formname.target = "_self";
    //         formname.action = "/product/productUpdate/" + rowid + "?_method=post";
    //         formname.submit();
    //     }
    // }



    function selectDelRow(chk) {

        var chk = document.getElementsByName("del_unit[]"); // 체크박스객체를 담는다
        var len = chk.length;    //체크박스의 전체 개수
        var checkRow = '';      //체크된 체크박스의 value를 담기위한 변수
        var checkCnt = 0;        //체크된 체크박스의 개수
        var checkLast = '';      //체크된 체크박스 중 마지막 체크박스의 인덱스를 담기위한 변수
        var rowid = '';             //체크된 체크박스의 모든 value 값을 담는다
        var cnt = 0;

        for (var i = 0; i < len; i++) {
            if (chk[i].checked == true) {
                checkCnt++;        //체크된 체크박스의 개수
                checkLast = i;     //체크된 체크박스의 인덱스
            }
        }
        for (var i = 0; i < len; i++) {
            if (chk[i].checked == true) {  //체크가 되어있는 값 구분
                checkRow = chk[i].value;
                if (checkCnt == 1) {                            //체크된 체크박스의 개수가 한 개 일때,
                    rowid += "" + checkRow + "";        //'value'의 형태 (뒤에 ,(콤마)가 붙지않게)
                } else {                                            //체크된 체크박스의 개수가 여러 개 일때,
                    if (i == checkLast) {                     //체크된 체크박스 중 마지막 체크박스일 때,
                        rowid += "" + checkRow + "";  //'value'의 형태 (뒤에 ,(콤마)가 붙지않게)
                    } else {
                        rowid += "" + checkRow + ",";	 //'value',의 형태 (뒤에 ,(콤마)가 붙게)
                    }
                }
                cnt++;
                checkRow = '';    //checkRow초기화.
            }
            // alert(rowid);    //'value1', 'value2', 'value3' 의 형태로 (id값이)출력된다.
        }



        if (confirm('정말 삭제하시겠습니까?')) {
            // alert(rowid);
            var theForm = document.frmSubmit;
            theForm.method = "post";
            theForm.target = "_self";
            theForm.action = "/product/del/" + rowid + "?_method=delete";
            theForm.submit();
        }
    }

    function selectCheckRow(chk) {
        var obj = document.getElementsByName("del_unit[]");
        for (var i = 0; i < obj.length; i++) {
            if (obj[i] != chk) {
                obj[i].checked = false;
            }
        }
    }

    $(document).ready(function () {
        $(".active").removeClass("active");
        $("#product").addClass("active");

        // $("#challBtn").bind("click");
        // $("#challBtn").trigger("click");
        // $("#challBtn").removeClass("collapsed");
        // $("#challBtn").attr('aria-expanded', 'true');
        $("#forms-collapse3").addClass('show');




        $('.btn-number').click(function (e) {
            e.preventDefault();

            fieldName = $(this).attr('data-field');
            type = $(this).attr('data-type');
            var input = $("input[name='" + fieldName + "']");
            var currentVal = parseInt(input.val());
            if (!isNaN(currentVal)) {
                if (type == 'minus') {

                    if (currentVal > input.attr('min')) {
                        input.val(currentVal - 1).change();
                    }
                    if (parseInt(input.val()) == input.attr('min')) {
                        $(this).attr('disabled', true);
                    }

                } else if (type == 'plus') {

                    if (currentVal < input.attr('max')) {
                        input.val(currentVal + 1).change();
                    }
                    if (parseInt(input.val()) == input.attr('max')) {
                        $(this).attr('disabled', true);
                    }

                }
            } else {
                input.val(0);
            }
        });
        $('.input-number').focusin(function () {
            $(this).data('oldValue', $(this).val());
        });
        $('.input-number').change(function () {

            minValue = parseInt($(this).attr('min'));
            maxValue = parseInt($(this).attr('max'));
            valueCurrent = parseInt($(this).val());

            name = $(this).attr('name');
            if (valueCurrent >= minValue) {
                $(".btn-number[data-type='minus'][data-field='" + name + "']").removeAttr('disabled')
            } else {
                alert('Sorry, the minimum value was reached');
                $(this).val($(this).data('oldValue'));
            }
            if (valueCurrent <= maxValue) {
                $(".btn-number[data-type='plus'][data-field='" + name + "']").removeAttr('disabled')
            } else {
                alert('Sorry, the maximum value was reached');
                $(this).val($(this).data('oldValue'));
            }


        });
        $(".input-number").keydown(function (e) {
            // Allow: backspace, delete, tab, escape, enter and .
            if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 190]) !== -1 ||
                // Allow: Ctrl+A
                (e.keyCode == 65 && e.ctrlKey === true) ||
                // Allow: home, end, left, right
                (e.keyCode >= 35 && e.keyCode <= 39)) {
                // let it happen, don't do anything
                return;
            }
            // Ensure that it is a number and stop the keypress
            if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
                e.preventDefault();
            }
        });

    });
</script>

</html>