<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../../../../partials/head %>
        <title></title>
        <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
</head>
<script type="text/javascript" src="/js/jquery-1.10.2.js"></script>
<script>

    $(document).ready(function () {
        $(".active").removeClass("active");
        $("#contents").addClass("active");

        // $("#challBtn").bind("click");
        // $("#challBtn").trigger("click");
        // $("#challBtn").removeClass("collapsed");
        // $("#challBtn").attr('aria-expanded', 'true');
        $("#forms-collapse2").addClass('show');




        $('.btn-number').click(function (e) {
            e.preventDefault();

            fieldName = $(this).attr('data-field');
            type = $(this).attr('data-type');
            var input = $("input[name='" + fieldName + "']");
            var currentVal = parseInt(input.val());
            if (!isNaN(currentVal)) {
                if (type == 'minus') {

                    if (currentVal > input.attr('min')) {
                        input.val(currentVal - 1).change();
                    }
                    if (parseInt(input.val()) == input.attr('min')) {
                        $(this).attr('disabled', true);
                    }

                } else if (type == 'plus') {

                    if (currentVal < input.attr('max')) {
                        input.val(currentVal + 1).change();
                    }
                    if (parseInt(input.val()) == input.attr('max')) {
                        $(this).attr('disabled', true);
                    }

                }
            } else {
                input.val(0);
            }
        });
        $('.input-number').focusin(function () {
            $(this).data('oldValue', $(this).val());
        });
        $('.input-number').change(function () {

            minValue = parseInt($(this).attr('min'));
            maxValue = parseInt($(this).attr('max'));
            valueCurrent = parseInt($(this).val());

            name = $(this).attr('name');
            if (valueCurrent >= minValue) {
                $(".btn-number[data-type='minus'][data-field='" + name + "']").removeAttr('disabled')
            } else {
                alert('Sorry, the minimum value was reached');
                $(this).val($(this).data('oldValue'));
            }
            if (valueCurrent <= maxValue) {
                $(".btn-number[data-type='plus'][data-field='" + name + "']").removeAttr('disabled')
            } else {
                alert('Sorry, the maximum value was reached');
                $(this).val($(this).data('oldValue'));
            }


        });
        $(".input-number").keydown(function (e) {
            // Allow: backspace, delete, tab, escape, enter and .
            if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 190]) !== -1 ||
                // Allow: Ctrl+A
                (e.keyCode == 65 && e.ctrlKey === true) ||
                // Allow: home, end, left, right
                (e.keyCode >= 35 && e.keyCode <= 39)) {
                // let it happen, don't do anything
                return;
            }
            // Ensure that it is a number and stop the keypress
            if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
                e.preventDefault();
            }
        });

    });
</script>

<body>

    <header>
        <% include ../../../../partials/header %>
    </header>


    <div class="container-fluid">
        <div class="row">
            <!-- 2단길이의 첫번째 열 -->
            <div class="col-md-2">
                <% include ../../../../partials/side %>
            </div>

            <!-- 10단길이의 첫번째 열 -->
            <div class="col-md-10">
                <div id="page-inner">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="page-header">
                                피부고민 게시판
                                <!-- <small> 챌린지 관리 Sub제목</small> -->
                            </h1>
                        </div>
                    </div>

                    <div class="accordion" id="accordionExample">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingOne">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    목록
                                </button>
                            </h2>
                            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">

                                    <div class="admin_top_info">
                                        0 항목, 1/1 페이지
                                    </div>
                                    <!-- <form role="form" action="/comments" method="post"
                                    enctype="multipart/form-data"> -->
                                    <div class="admin_search_container">
                                        <input type="hidden" name="table" value="notice">
                                        <input type="hidden" name="mode" value="">
                                        <input type="hidden" name="pg" value="">
                                        <select name="opr">
                                            <option value="vsubject">제목</option>
                                            <option value="vname">작성자</option>
                                            <option value="vcontent">내용</option>
                                        </select>
                                        <input type="text" name="keyword" size="15" value="">
                                        <input type="submit" value="검색" class="btn btn-primary">
                                    </div>
                                    <div class="panel-body" style="padding-top:0px;padding-bottom:15px;">
                                        <div class="table-responsive dataTables_wrapper form-inline">
                                            <table
                                                class="table table-bordered  table-condensed table-hover  text-center">
                                                <thead>
                                                    <tr>
                                                        <th class="text-center">제목</th>
                                                        <th class="text-center">작성자</th>
                                                        <th class="text-center">작성일</th>
                                                        <th class="text-center">좋아요</th>
                                                        <th class="text-center">조회수</th>
                                                        <th class="text-center">베스트고민 등록</th>
                                                        <th class="text-center"></th>
                                                    </tr>
                                                </thead>
                                                <% if(skinqna == null || skinqna.length == 0){ %>
                                                    <tr class="noData">
                                                        <td colspan="5">There is no data to show :(</td>
                                                    </tr>
                                                <% } %>
                                                <% skinqna.forEach(function(post){ %>
                                                <tbody>
                                                    <tr>
                                                        <td onclick="window.location = '/skinqnaComments/<%= post._id %>?<%= urlQuery %>'">
                                                            [<%= post.select %>] [<%= post.title %>]
                                                            <span class="comments">(<%= post.comments.length %>)</span>
                                                            <%=// console.log(sum) %>
                                                        </td>
                                                        <td class="text-center" onclick="window.location = '/skinqnaComments/<%= post._id %>?<%= urlQuery %>'"><%= post.email %></td>
                                                        <td><%= post.getFormattedDate(post.createdAt) %></td>
                                                        <td><%= post.like %></td>
                                                        <td><%= post.views %></td>
                                                        <form action="/skinqnaComments/<%= post._id %>/editorUpdate" method="post" name="formname">
                                                            <td>
                                                                <% if(post.editor == false) { %>
                                                                    <label class="col-md-3 text-left">등록&nbsp;</label>
                                                                    <input class="form-check-input" type="checkbox" value=true
                                                                        name="post[editor]">
                                                                    <br>
                                                                    <div>/</div>
                                                                    <label class="col-md-3 text-left">해제</label>
                                                                    <input class="form-check-input" type="checkbox" value=false disabled
                                                                        name="post[editor]">
                                                                <% } else if(post.editor == true) { %>
                                                                    <label class="col-md-3 text-left">등록&nbsp;</label>
                                                                    <input class="form-check-input" type="checkbox" value=true disabled
                                                                        name="post[editor]">
                                                                    <br>
                                                                    <div>/</div>
                                                                    <label class="col-md-3 text-left">해제</label>
                                                                    <input class="form-check-input" type="checkbox" value=false
                                                                        name="post[editor]">
                                                                <% } %>
                                                            </td>
                                                            <td class="center">
                                                                <button type="submit" class="btn btn-info">변경</button>
                                                            </td>
                                                        </form>
                                                    </tr>
                                                </tbody>
                                                <% }) %>
                                            </table>

                                            <!-- <div class="row">
                                                <div class="col-md-4 d-grid gap-2 d-md-block">
                                                    <button class="btn btn-primary float_left" type="button"
                                                        onclick="location.href='/skinqnaComments/Comments/SkinQna/new'">작성</button>
                                                    <form class="float_left" name="frmSubmit">
                                                        <button class="btn btn-primary btn btn-danger"
                                                            type="button" onclick="">삭제</button>
                                                    </form>
                                                </div>
                                            </div> -->
                                        </div>
                                    </div>
                                    <!-- </form> -->
                                    <div class="row">
                                        <div class="col-auto me-auto"></div>
                                        <div class="col-auto">
                                            <nav aria-label="Page navigation example">
                                                <ul class="pagination pagination-sm justify-content-center">
                                                    <%
                                                        var offset = 4;
                                                        var partialQuery;
                                                        if(urlQuery) partialQuery = "&"+urlQuery.replace(/page=(.*?)(&|$)/ig,"");
                                                    %>
            
                                                    <li class="page-item disabled">
                                                        <a class="page-link" href="#" aria-label="Previous">
                                                            <span aria-hidden="true">&laquo;</span>
                                                        </a>
                                                    </li>
            
                                                    <% for(i=1;i<=maxPage;i++){ %>
            
                                                        <% if(i<=offset || i>maxPage-offset || (i>=page-(offset-1) && i<=page+(offset-1))){ %>
                                                            <% if(i != page){ %>
                                                                <li class="page-item"><a class="page-link" href="/skinqnaComments/?page=<%= i %><%= partialQuery %>"><%= i %></a></li>
                                                            <% } else { %>
                                                                <li class="page-item" name="currentPage" aria-current="page"><a class="page-link" href="#"><%= i %></a></li>
                                                            <% } %>
                                                        <% } else if(i == offset+1 || i == maxPage-offset){ %>
                                                                <li>...</li>
                                                        <% } %>
                                                    <%}%>
                                                    <li class="page-item disabled">
                                                    <a class="page-link" href="#" aria-label="Next">
                                                        <span aria-hidden="true">&raquo;</span>
                                                    </a>
                                                    </li>
                                                </ul>
                                            </nav>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>




</body>
<script src="/js/custom-scripts.js"></script>
<script src="/js/jquery-1.10.2.js"></script>
<script src="/js/bootstrap.min.js"></script>

</html>