<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../../../partials/head %>
    <title></title>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
</head>
<script type="text/javascript" src="/js/jquery-1.10.2.js"></script>

<body>

  <header>
    <% include ../../../partials/header %>
  </header>


  <div class="container-fluid">
    <div class="row">
      <!-- 2단길이의 첫번째 열 -->
      <div class="col-md-2">
        <% include ../../../partials/mside %>
      </div>

      <!-- 10단길이의 첫번째 열 -->
      <div class="col-md-10">
        <div class="col-sm-12">
          <section class="profile-info-tabs" style="margin-bottom: 2px;">
            <ul class="nav nav-tabs">
              <%// if(user) {%>
              <li class="active">
                <!-- <a onclick="window.location = '/members/<%=// user._id %>?<%=// urlQuery %>'" class="btn btn-light" data-toggle="tab">회원 정보</a> -->
              </li>
              <%// } %>
              <li>
                <a href="#order" class="btn btn-light" data-toggle="tab">통합 주문내역</a>
              </li>
              <li>
                <a href="#point" class="btn btn-light" data-toggle="tab">포인트 내역</a>
              </li>
              <li>
                <a href="#challenge" class="btn btn-light" data-toggle="tab">챌린지 내역</a>
              </li>
              <li>
                <a href="#notice" class="btn btn-light" data-toggle="tab">게시글 내역</a>
              </li>
            </ul>
          </section>
          <div class="tab-content">
            <div class="tab-pane" id="order">
              <div class="col-md-12">
                <div class="tabs-vertical-env">
                  <div class="tab-content">
                    <div class="row">
                      <div class="col-auto me-auto"></div>
                      <div class="col-auto">
                        <table class="table-bordered table table-striped table-hover">
                          <thead>
                            <tr class="text-center">
                              <th scope="col">총 주문상품</th>
                              <th scope="col">발송 완료</th>
                              <th scope="col">상품 취소</th>
                              <th scope="col">발송 완료 Total 금액</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td>12</td>
                              <td class="text-center" style="color: blue;">10</td>
                              <td style="color: red;">2</td>
                              <td>425,000원</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                    <table class="table table-bordered  table-condensed table-hover  text-center">
                      <thead>
                        <% console.log(orders) %>
                        <% console.log(user._id) %>
                        <tr>
                          <th rowspan="2" style="padding-bottom: 22px;"><input class="form-check-input" type="checkbox"
                              value="" id="flexCheckDisabled" disabled></th>
                          <th colspan="1" class="text-center">주문일</th>
                          <th rowspan="2" class="text-center" style="padding-bottom: 20px;">주문 상태</th>
                          <th rowspan="2" class="text-center" style="padding-bottom: 20px;">상품명</th>
                          <th rowspan="2" class="text-center" style="padding-bottom: 20px;">수량</th>
                          <th colspan="1" class="text-center">택배사</th>
                          <th rowspan="2" class="text-center" style="padding-bottom: 20px;">주문자</th>
                          <th rowspan="2" class="text-center" style="padding-bottom: 20px;">결제 방법</th>
                          <th colspan="1" class="text-center">결제 금액</th>
                          <th rowspan="2" class="text-center" style="padding-bottom: 20px;">보기</th>
                        </tr>
                        <tr>
                          <th class="text-center">주문 번호</th>
                          <th class="text-center">운송장 번호</th>
                          <th class="text-center">포인트 사용</th>
                        </tr>
                      </thead>
                      <%// if(post[0]) { %>
                        <%// orders.forEach(function(orders) { %>
                          <tbody>
                            <tr>
                              <th rowspan="2" style="padding-top: 25px;"><input class="form-check-input" type="checkbox"
                                  value="" id="flexCheckDisabled" disabled></th>
                              <th colspan="1" class="text-center" style="padding-top: 10px;" data-highlight="<%= search.highlight.paid_at %>"><%=// orders.paid_at %>
                              </th>
                              <th rowspan="2" class="text-center" style="padding-top: 30px;" data-highlight="<%= search.highlight.imp_uid %>"><%=// orders.status %></th>
                              <th rowspan="2" class="text-center" style="padding-top: 30px;">뷰셀리온 콜라겐 드링크 5000
                                -4주분(20ml x28병)</th>
                              <th rowspan="2" class="text-center" style="padding-top: 30px;">2</th>
                              <th colspan="1" class="text-center" style="padding-top: 10px;">CJ택배</th>
                              <th rowspan="2" class="text-center" style="padding-top: 30px;">이요진</th>
                              <th rowspan="2" class="text-center" style="padding-top: 30px;">카드 결제</th>
                              <th colspan="1" class="text-center" style="padding-top: 10px;">25,000원</th>
                              <th rowspan="2" class="text-center" style="padding-top: 30px;"
                                onclick="location.href='/orders/show'">보기
                              </th>
                            </tr>
                            <tr>
                              <th class="text-center" style="padding-top: 10px;">2150643124512</th>
                              <th class="text-center" style="padding-top: 10px;">2012542658462</th>
                              <th class="text-center" style="padding-top: 10px;">4500P</th>
                            </tr>
                          </tbody>
                          <tfoot>
                            <th class="text-center" colspan="5">합계</th>
                            <th class="text-center">총 결제 금액:<span>1,500,000</span></th>
                            <th class="text-center" colspan="2">총 입금액:<span>950,000</span></th>
                            <th class="text-center" colspan="2">미수금:<span>550,000</span></th>
                          </tfoot>
                        <%// }) %>
                      <%// } %>
                    </table>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-auto me-auto"></div>
                <div class="col-auto">
                  <nav aria-label="Page navigation example">
                    <ul class="pagination pagination-sm">
                      <li class="page-item">
                        <a class="page-link" href="#" aria-label="Previous">
                          <span aria-hidden="true">&laquo;</span>
                        </a>
                      </li>
                      <li class="page-item"><a class="page-link" href="#">1</a>
                      </li>
                      <li class="page-item"><a class="page-link" href="#">2</a>
                      </li>
                      <li class="page-item"><a class="page-link" href="#">3</a>
                      </li>
                      <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next">
                          <span aria-hidden="true">&raquo;</span>
                        </a>
                      </li>
                    </ul>
                  </nav>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>




</body>
<script src="/js/custom-scripts.js"></script>
<script src="/js/jquery-1.10.2.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script>
  $(document).ready(function () {
    $(".active").removeClass("active");
    $("#members").addClass("active");
    $("#forms-collapse1").addClass('show');

    $('.btn-number').click(function (e) {
      e.preventDefault();

      fieldName = $(this).attr('data-field');
      type = $(this).attr('data-type');
      var input = $("input[name='" + fieldName + "']");
      var currentVal = parseInt(input.val());
      if (!isNaN(currentVal)) {
        if (type == 'minus') {

          if (currentVal > input.attr('min')) {
            input.val(currentVal - 1).change();
          }
          if (parseInt(input.val()) == input.attr('min')) {
            $(this).attr('disabled', true);
          }

        } else if (type == 'plus') {

          if (currentVal < input.attr('max')) {
            input.val(currentVal + 1).change();
          }
          if (parseInt(input.val()) == input.attr('max')) {
            $(this).attr('disabled', true);
          }

        }
      } else {
        input.val(0);
      }
    });
    $('.input-number').focusin(function () {
      $(this).data('oldValue', $(this).val());
    });
    $('.input-number').change(function () {

      minValue = parseInt($(this).attr('min'));
      maxValue = parseInt($(this).attr('max'));
      valueCurrent = parseInt($(this).val());

      name = $(this).attr('name');
      if (valueCurrent >= minValue) {
        $(".btn-number[data-type='minus'][data-field='" + name + "']").removeAttr('disabled')
      } else {
        alert('Sorry, the minimum value was reached');
        $(this).val($(this).data('oldValue'));
      }
      if (valueCurrent <= maxValue) {
        $(".btn-number[data-type='plus'][data-field='" + name + "']").removeAttr('disabled')
      } else {
        alert('Sorry, the maximum value was reached');
        $(this).val($(this).data('oldValue'));
      }


    });
    $(".input-number").keydown(function (e) {
      // Allow: backspace, delete, tab, escape, enter and .
      if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 190]) !== -1 ||
        // Allow: Ctrl+A
        (e.keyCode == 65 && e.ctrlKey === true) ||
        // Allow: home, end, left, right
        (e.keyCode >= 35 && e.keyCode <= 39)) {
        // let it happen, don't do anything
        return;
      }
      // Ensure that it is a number and stop the keypress
      if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
        e.preventDefault();
      }
    });

  });

</script>

</html>