<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <header>
      <% include ../partials/header %>
    </header>
    <div class="posts">
    <% include partials/top %>
<!-- main start-->

<!-- views/carezone/show.ejs -->
<div class="show">
  <div class="buttons floats">
    <% if(user && user.equals(post.author._id)) { %>
      <form class="float_right" action="/carezone/<%=post._id%>?_method=delete" method="post">
        <button type="button" onclick="confirm('Your post will be deleted')?this.parentElement.submit():null;">Delete</button>
      </form>
      <button class="float_right" onclick="location.href='/carezone/<%=post._id%>/edit'">Edit</button>
    <% } %>
    <button class="float_left" onclick="location.href='/carezone?<%= urlQuery %>'">Back</button>
  </div>
  <h3>
    <%= post.numId %>.
    <span class="highlight" data-highlight="<%= search.highlight.title %>">
      <%= post.title %>
    </span>
  </h3>
  <div class="content floats">
    <div class="info float_right">
      <div class="highlight" data-highlight="<%= search.highlight.author %>">
        Author: <%= post.author.nickname %>
      </div>
      <div>
        <%= post.views %> views
      </div>
      <div class="timestamp"><span>Created:</span>
        <%= post.getFormattedTime(post.createdAt) %>, <%= post.getFormattedDate(post.createdAt) %>
      </div>
      <% if(post.updatedAt) { %>
        <div class="timestamp"><span>Updated:</span>
          <%= post.getFormattedTime(post.updatedAt) %>, <%= post.getFormattedDate(post.updatedAt) %>
        </div>
      <% } %>
    </div>
    <h3>케어 챌린지</h3>
    <div class="body highlight" data-highlight="<%= search.highlight.body %>">케어 챌린지 제목 : <%= post.title %></div>
    <div class="body highlight" data-highlight="<%= search.highlight.body %>">케어 챌린지 설명 : <%= post.body %></div>
    <h3>챌린지 메인 이미지</h3>
    <div class="body highlight" data-highlight="<%= search.highlight.body %>"><img src="<%= url %>"></div>
    <h3>챌린지 보상상품 이미지</h3>
    <div class="body highlight" data-highlight="<%= search.highlight.body %>"><img src="<%= prod_url %>"></div>

    <h3>챌린지</h3>
    <!-- <div class="body highlight" data-highlight="<%= search.highlight.body %>">미션제목 : <%= post.missontitle %></div>
    <div class="body highlight" data-highlight="<%= search.highlight.body %>">미션목표 : <%= post.missonsubtitle %></div> -->
    <div class="body highlight" data-highlight="<%= search.highlight.body %>">보상 상품명 : <%= post.product %></div>
    <div class="body highlight" data-highlight="<%= search.highlight.body %>">상품 수량 : <%= post.productcount %></div>
    <div class="body highlight" data-highlight="<%= search.highlight.body %>">참여 방법 : <%= post.howtojoin %></div>
    <div class="body highlight" data-highlight="<%= search.highlight.body %>">보상 제품 상세정보 URL : <%= post.product_url %></div>
    <div class="body highlight" data-highlight="<%= search.highlight.body %>">제품 즉시 구매하기 URL : <%= post.purchase_url %></div>
    보상 조건 :  <textarea rows="3" readonly class="body highlight" data-highlight="<%= search.highlight.body %>"><%= post.condition %></textarea>
    <div class="body highlight" data-highlight="<%= search.highlight.body %>">미션 시작일 : <%= post.startmission %></div>
    <div class="body highlight" data-highlight="<%= search.highlight.body %>">미션 종료일 : <%= post.endmission %></div>
    <div class="body highlight" data-highlight="<%= search.highlight.body %>">보너스 - 카카오 : <%= post.bonuskakao %> 초</div>
    <div class="body highlight" data-highlight="<%= search.highlight.body %>">보너스 - 페이스북 : <%= post.bonusface %> 초</div>
    <div class="body highlight" data-highlight="<%= search.highlight.body %>">보너스 - 인스타그램 : <%= post.bonusinstar %> 초</div>
    <h3>챌린지 슬라이드 이미지1</h3>
    <div class="body highlight" data-highlight="<%= search.highlight.body %>"><img src="<%= challenge_url1 %>"></div>
    <h3>챌린지 슬라이드 이미지2</h3>
    <div class="body highlight" data-highlight="<%= search.highlight.body %>"><img src="<%= challenge_url2 %>"></div>
    <h3>챌린지 슬라이드 이미지3</h3>
    <div class="body highlight" data-highlight="<%= search.highlight.body %>"><img src="<%= challenge_url3 %>"></div>
    <h3>챌린지 슬라이드 이미지4</h3>
    <div class="body highlight" data-highlight="<%= search.highlight.body %>"><img src="<%= challenge_url4 %>"></div>
    <h3>챌린지 슬라이드 이미지5</h3>
    <div class="body highlight" data-highlight="<%= search.highlight.body %>"><img src="<%= challenge_url5 %>"></div>

<!-- main end -->
    </div><!--carezone end -->
    <footer>
      <% include ../partials/footer %>
    </footer>
  </body>
</html>
