<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../../../partials/head %>
    <title></title>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
    <link rel="stylesheet" href="/stylesheets/image_upload.css">
</head>
<script type="text/javascript" src="/js/jquery-1.10.2.js"></script>
<script type="text/javascript" src="/js/image_upload.js"></script>
<script>
  $(document).ready(function () {
    $(".active").removeClass("active");
    $("#contents").addClass("active");
  });
</script>
<title>Hello, world!</title>

<body>

  <header>
    <% include ../../../partials/header %>
  </header>


  <div class="container-fluid">
    <div class="row">
      <!-- 2단길이의 첫번째 열 -->
      <div class="col-md-2">
        <!-- 사이드 메뉴 시작 -->
        <% include ../../../partials/side %>
          <!-- 사이드 메뉴 종료 -->
      </div>


      <!-- 10단길이의 첫번째 열 -->
      <div class="col-md-10">
        <div id="page-inner">
          <!-- /. ROW  -->
          <div class="row">

            <div class="col-lg-12">
              <div class="panel panel-default">
                <div class="panel-heading">
                  배너 정보
                </div>
                <br>
                  <label class="col-md-2 text-center">제목</label>
                  <div style="padding-top:0px;padding-bottom:15px;">
                    <div class="form-floating col-md-10">
                      <%= post.title %>
                    </div>
                  </div>
                  <div class="row align-items-center w-75 mb-3">
                    <!-- <div class="col-md-4">
                      <div class="imgUp">
                        <div class="imagePreview"></div>
                        <img style="max-width:120px;"
                          src="https://plinic.s3.ap-northeast-2.amazonaws.com/<%= post.filename %>" class="img-thumbnail" alt="...">
                        </label>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="imgUp">
                        <div class="imagePreview"></div>
                        <img style="max-width:120px;"
                          src="https://plinic.s3.ap-northeast-2.amazonaws.com/<%= post.twoFileName %>" class="img-thumbnail" alt="...">
                        </label>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="imgUp">
                        <div class="imagePreview"></div>
                        <img style="max-width:120px;"
                          src="https://plinic.s3.ap-northeast-2.amazonaws.com/<%= post.threeFileName %>" class="img-thumbnail" alt="...">
                        </label>
                      </div>
                    </div> -->
                  </div>
                  <label class="col-md-2 text-center">배너</label>
                  <div class="panel-body" style="padding-top:0px;padding-bottom:15px;">
                    <div class="table-responsive dataTables_wrapper form-inline">
                      <table class="table table-bordered  table-condensed table-hover  text-center">
                        <thead>
                          <tr>
                            <th class="text-center">배너 이미지</th>
                            <th class="text-center" width="200">파일명</th>
                            <th class="text-center">코멘트</th>
                            <th class="text-center">링크주소</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td class="text-center">
                              <img style="max-width:120px;"
                                src="https://plinic.s3.ap-northeast-2.amazonaws.com/<%= post.filename %>" class="img-thumbnail" alt="...">
                            </td>
                            <td class="text-center" style="width: 300px;">
                              <%= post.originalName %>
                            </td>
                            <td class="text-center">
                              <%= post.body %>
                            </td>
                            <td class="text-center">
                              <a href="<%= post.url %>" target="_blank"><%= post.url %></a>
                            </td>
                          </tr>
                          <tr>
                            <td class="text-center">
                              <img style="max-width:120px;"
                                src="https://plinic.s3.ap-northeast-2.amazonaws.com/<%= post.twoFileName %>" class="img-thumbnail" alt="...">
                            </td>
                            <td class="text-center" style="width: 300px;">
                              <%= post.twoOriginalName %>
                            </td>
                            <td class="text-center">
                              <%= post.twoBody %>
                            </td>
                            <td class="text-center">
                              <a href="<%= post.twoUrl %>" target="_blank"><%= post.twoUrl %></a>
                            </td>
                          </tr>
                          <tr>
                            <td class="text-center">
                              <img style="max-width:120px;"
                                src="https://plinic.s3.ap-northeast-2.amazonaws.com/<%= post.threeFileName %>" class="img-thumbnail" alt="...">
                            </td>
                            <td class="text-center" style="width: 300px;">
                              <%= post.threeOriginalName %>
                            </td>
                            <td class="text-center">
                              <%= post.ThreeBody %>
                            </td>
                            <td class="text-center">
                              <a href="<%= post.threeUrl %>" target="_blank"><%= post.threeUrl %></a>
                            </td>
                          </tr>
                          <!-- <tr>
                            <td class="text-left" colspan="3">
                              <div class="d-grid gap-2 d-md-flex">
                                <button class="btn btn-primary me-md-2 btn btn-success" type="button">업로드</button>
                                <button class="btn btn-primary btn btn-danger" type="reset">되돌리기</button>
                              </div>
                            </td>
                          </tr> -->
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <!-- <label class="col-md-2 text-center">Body 배너</label>
                  <div class="row align-items-center w-75 mb-3">
                    <div class="col-md-6">
                      <div class="imgUp">
                        <div class="imagePreview"></div>
                        <img style="max-width:120px;"
                          src="https://plinic.s3.ap-northeast-2.amazonaws.com/<%=// post.filename %>" class="img-thumbnail" alt="...">
                        </label>
                      </div>
                    </div>
                  </div>
                  <label class="col-md-2 text-center">Body 배너 링크</label>
                  <div class="panel-body" style="padding-top:0px;padding-bottom:15px;">
                    <div class="table-responsive dataTables_wrapper form-inline">
                      <table class="table table-bordered  table-condensed table-hover  text-center">
                        <thead>
                          <tr>
                            <th class="text-center" width="200">파일명</th>
                            <th class="text-center">코멘트</th>
                            <th class="text-center">링크주소</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td class="text-left" colspan="3">
                              <div class="d-grid gap-2 d-md-flex">
                                <button class="btn btn-primary me-md-2 btn btn-success" type="button">업로드</button>
                                <button class="btn btn-primary btn btn-danger" type="reset">되돌리기</button>
                              </div>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div> -->

                  <div class="d-grid gap-2 d-md-block text-center">
                    <button type="reset" class="w-15 m-1 btn btn-secondary btn-sm"
                      onclick="location.href='/adBanners/<%=post._id%>/edit'">수정</button>
                  </div>
              </div>
            </div>

          </div>
          <!-- <footer><p>All right reserved. Template by: <a href="http://webthemez.com">WebThemez</a></p></footer> -->
        </div>
      </div>
    </div>
  </div>




</body>

<script src="/js/jquery-1.10.2.js"></script>
<!-- Bootstrap Js -->
<script src="/js/bootstrap.min.js"></script>
<!-- Custom Js -->
<script src="/js/custom-scripts.js"></script>

</html>