<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../../../../partials/head %>
    <title></title>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
</head>
<script type="text/javascript" src="/js/jquery-1.10.2.js"></script>
<body>
    
    <header>
        <% include ../../../../partials/header %>
    </header>


    <div class="container-fluid">
        <div class="row">
            <!-- 2단길이의 첫번째 열 -->
            <div class="col-md-2">
                <% include ../../../../partials/side %>
            </div>

            <!-- 10단길이의 첫번째 열 -->
            <div class="col-md-10">
                <div id="page-inner">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="page-header">
                                챌린지 관리
                                <!-- <small> 챌린지 관리 Sub제목</small> -->
                            </h1>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-image text-center" id="table-1">
                            <thead>
                                <tr>
                                <th scope="col"></th>
                                <th scope="col">홈 이미지</th>
                                <th scope="col">콘텐츠 제목</th>
                                <th scope="col">댓글</th>
                                <th scope="col">글쓴이</th>
                                <th scope="col">업데이트일</th>
                                <th scope="col">활성화</th>
                                <th scope="col">노출순서 및 관리</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% if(carezone == null || carezone.length == 0){ %>
                                    <tr class="noData">
                                        <td colspan="5">There is no data to show :(</td>
                                    </tr>
                                <% } %>
                                <% carezone.forEach(function(post, index){ %>
                                    <tr>
                                        <th scope="row" class="align-middle">
                                            <div>
                                                <input type="checkbox" onclick="selectCheckRow(this)" name="del_unit[]" value="<%= post._id %>">
                                                <!-- <label class="form-check-label" for="flexCheckDefault"></label> -->
                                            </div>
                                        </th>
                                        <td onclick="window.location = '/contents/Challenge/<%= post._id %>?<%= urlQuery %>'" class="align-middle"><img style="max-width: 120px;" src="https://plinic.s3.ap-northeast-2.amazonaws.com/<%= post.homeimage_filename %>" class="img-thumbnail" alt="..."></td>
                                        <td onclick="window.location = '/contents/Challenge/<%= post._id %>?<%= urlQuery %>'" class="align-middle"><u><%= post.title %></u></td>
                                        <td class="align-middle"><%= post.comments.length %></td>
                                        <td class="align-middle"><%= post.author.nickname %></td>
                                        <td class="align-middle"><%= post.getFormattedDate(post.createdAt) %></td>
                                        <td class="align-middle">활성화</td>
                                        <td class="align-middle">
                                                <div class="row mb-3 align-middle">
                                                        <div class="row align-middle">
                                                            <div class="col align-middle p-0"> 
                                                                <span class="input-group-btn">
                                                                    <button type="button" class="btn btn-danger btn-number"  data-type="minus" data-field="seq[<%= index %>]">
                                                                    <span class="glyphicon glyphicon-minus"></span>
                                                                    </button>
                                                                </span></div>        
                                                            <div class="col align-middle p-0">
                                                                <input type="number" readonly value="<%= post.seq %>" name="seq[<%= index %>]" class="form-control text-center w-100 align-middle" min="1" max="100"></div>        
                                                            <div class="col p-0">
                                                                <span class="input-group-btn">
                                                                    <button type="button" class="btn btn-success btn-number" data-type="plus" data-field="seq[<%= index %>]">
                                                                        <span class="glyphicon glyphicon-plus"></span>
                                                                    </button>
                                                                </span></div>        
                                                        </div>
                                                </div>        
                                                <div class="row justify-content-center">
                                                        <div class="col-6 p-0 m-0">
                                                            <form name="seqFormSubmit<%= index %>">
                                                                <button class="btn btn-primary" type="button" 
                                                                onclick="seqChange('<%= index %>')">변경하기</button>
                                                                <input type="hidden" value="<%= post.seq %>" name="seq[<%= index %>]"></div>
                                                                <input type="hidden" value="<%= post._id %>"  name="seqNumberId[<%= index %>]">
                                                            </form>
                                                        <div class="col-6 p-0 m-0">
                                                         <button type="button" class="btn btn-secondary" disabled>변경바로가기</button>
                                                        </div>
                                                    </div>
                                                </div>
                                        </td>
                                    </tr>
                                <% }) %>
                            </tbody>
                        </table>
                        <div class="row">
                            <div class="col-md-4 d-grid gap-2 d-md-block">
                                <form class="float_left" name="frmSubmit">
                                    <button class="btn btn-primary" type="button" onclick="selectDelRow(this)">삭제</button>
                                </form>
                                <button class="btn btn-primary" type="button">활성화</button>
                                <button class="btn btn-primary" type="button">비활성화</button>
                            </div>
                            <div class="col-md-4">
                                <nav aria-label="Page navigation example">
                                    <ul class="pagination pagination-sm justify-content-center">
                                        <%
                                            var offset = 4;
                                            var partialQuery;
                                            if(urlQuery) partialQuery = "&"+urlQuery.replace(/page=(.*?)(&|$)/ig,"");
                                        %>

                                        <li class="page-item disabled">
                                            <a class="page-link" href="#" aria-label="Previous">
                                                <span aria-hidden="true">&laquo;</span>
                                            </a>
                                        </li>

                                        <% for(i=1;i<=maxPage;i++){ %>

                                            <% if(i<=offset || i>maxPage-offset || (i>=page-(offset-1) && i<=page+(offset-1))){ %>
                                                <% if(i != page){ %>
                                                    <!-- <li>[<a href="/carezone?page=<%= i %><%= partialQuery %>"> <%= i %> </a>]</li> -->
                                                    <li class="page-item"><a class="page-link" href="/contents/Challenge/newIndex/?page=<%= i %><%= partialQuery %>"><%= i %></a></li>
                                                <% } else { %>
                                                    <li class="page-item" name="currentPage" aria-current="page"><a class="page-link" href="#"><%= i %></a></li>
                                                <% } %>
                                            <% } else if(i == offset+1 || i == maxPage-offset){ %>
                                                    <li>...</li>
                                            <% } %>
                                        <%}%>
                                        <li class="page-item disabled">
                                        <a class="page-link" href="#" aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span>
                                        </a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                            <div class="col-md-4">
                                <div class="d-grid d-md-block d-md-flex justify-content-md-end">
                                    <button type="button" onclick="location.href='/contents/Challenge/new'" class="btn btn-primary me-md-2">신규 등록</button>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="floats">
                                <div class="counter float-start">
                                  <% if(counter){ %>
                                    Total <%= counter.totalCount %> visitors<br>
                                    (today: <%= counter.todayCount %>)
                                  <% } %>
                                </div>
                                <div class="search float-end">
                                  <form class="checkValidation" action="/carezone/" id="search">
                                    <select class="form-select" name="searchType" <%= search.searchType=="author!"?"disabled":"" %>>
                                      <% var select %>
                                      <option value="title,body"
                                        <%= search.searchType=="title,body"?select="selected":"" %>>Title+Body</option>
                                      <option value="title"
                                        <%= search.searchType=="title"?select="selected":"" %>>Title</option>
                                      <option value="body"
                                        <%= search.searchType=="body"?select="selected":"" %>>Body</option>
                                      <%if(search.searchType=="author!"){%>
                                        <option value="author!"
                                          <%= search.searchType=="author!"?select="selected":"" %>>Author</option>
                                      <%} else {%>
                                        <option value="author"
                                          <%= search.searchType=="author"?select="selected":"" %>>Author</option>
                                      <%}%>
                                    </select>
                                    <input class="form-control" cvMinLength="2"
                                      cvMinLenErrTo="#searchError"
                                      cvMinLenErrMsg="It should be at least 2 characters"
                                      type="text" name="searchText" value="<%= select?search.searchText:"" %>"
                                      <%= search.searchType=="author!"?"disabled":"" %>>
                                    <button type="submit" <%= search.searchType=="author!"?"disabled":"" %>>search</button>
                                    <%if(search.searchType){%>
                                      <button type="button" onclick="window.location = '/carezone?page=1'">cancel</button>
                                    <%}%>
                                    <div class="message" id="searchError"></div>
                                  </form>
                                </div>
                        </div> -->
                    </div> 
                </div>
            </div>
        </div>
    </div>





    <!-- <table id="table-1" cellspacing="0" cellpadding="2" >
            <tr id="1"><td>1</td><td>One</td><td>some text</td></tr>
            <tr id="1"><td>2</td><td>Two</td><td>some text</td></tr>
            <tr id="1"><td>3</td><td>Three</td><td>some text</td></tr>
            <tr id="1"><td>4</td><td>Four</td><td>some text</td></tr>
            <tr id="1"><td>5</td><td>Five</td><td>some text</td></tr>
            <tr id="1"><td>6</td><td>Six</td><td>some text</td></tr>
        </table> -->


</body>
<script src="/js/custom-scripts.js"></script>
<script src="/js/jquery-1.10.2.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery.tablednd.0.7.min.js"></script>
<script>
    function seqChange(seq) {
        // var chk = document.getElementsByName("quant["+seq+"]")[0].value; // 체크박스객체를 담는다
        var chk = document.getElementsByName("seqNumberId["+seq+"]")[0].value; // 체크박스객체를 담는다
        if(confirm('적용 하시겠습니까?')) {
            var seqFormSubmit = document.getElementsByName("seqFormSubmit"+seq)[0];
            seqFormSubmit.method = "post"; 
            seqFormSubmit.target = "_self"; 
            seqFormSubmit.action = "/contents/Challenge/SeqUpdate/" + chk + "?_method=put";
            seqFormSubmit.submit();
        }
    }

    function selectDelRow(chk) {

        var chk = document.getElementsByName("del_unit[]"); // 체크박스객체를 담는다
        var len = chk.length;    //체크박스의 전체 개수
        var checkRow = '';      //체크된 체크박스의 value를 담기위한 변수
        var checkCnt = 0;        //체크된 체크박스의 개수
        var checkLast = '';      //체크된 체크박스 중 마지막 체크박스의 인덱스를 담기위한 변수
        var rowid = '';             //체크된 체크박스의 모든 value 값을 담는다
        var cnt = 0;                 

        for(var i=0; i<len; i++){
            if(chk[i].checked == true){
            checkCnt++;        //체크된 체크박스의 개수
            checkLast = i;     //체크된 체크박스의 인덱스
            }
        } 
        for(var i=0; i<len; i++){
            if(chk[i].checked == true){  //체크가 되어있는 값 구분
                checkRow = chk[i].value;
                if(checkCnt == 1){                            //체크된 체크박스의 개수가 한 개 일때,
                    rowid += ""+checkRow+"";        //'value'의 형태 (뒤에 ,(콤마)가 붙지않게)
                }else{                                            //체크된 체크박스의 개수가 여러 개 일때,
                    if(i == checkLast){                     //체크된 체크박스 중 마지막 체크박스일 때,
                        rowid += ""+checkRow+"";  //'value'의 형태 (뒤에 ,(콤마)가 붙지않게)
                    }else{
                        rowid += ""+checkRow+",";	 //'value',의 형태 (뒤에 ,(콤마)가 붙게)         			
                    }
                }
                cnt++;
                checkRow = '';    //checkRow초기화.
            }   
            // alert(rowid);    //'value1', 'value2', 'value3' 의 형태로 출력된다.
        }



        if(confirm('정말 삭제하시겠습니까?')) {
            // alert(rowid);
            var theForm = document.frmSubmit;
            theForm.method = "post"; 
            theForm.target = "_self"; 
            theForm.action = "/contents/Challenge/" + rowid + "?_method=delete";
            theForm.submit();
        }
    }

    function selectCheckRow(chk) {
        var obj = document.getElementsByName("del_unit[]");
        for(var i=0; i < obj.length; i++){
            if(obj[i] != chk){
                obj[i].checked = false;
            }
        }

        
        
        // alert(rowid);
    }

    $(document).ready(function(){

        // $("#table-1").tableDnD()

        // $("#table-2 tr:even').addClass('alt')");

        // // Initialise the second table specifying a dragClass and an onDrop function that will display an alert
        // $("#table-2").tableDnD({
        //     onDragClass: "myDragClass",
        //     onDrop: function(table, row) {
        //         var rows = table.tBodies[0].rows;
        //         var debugStr = "Row dropped was "+row.id+". New order: ";
        //         for (var i=0; i<rows.length; i++) {
        //             debugStr += rows[i].id+" ";
        //         }
        //         $('#debugArea').html(debugStr);
        //     },
        //     onDragStart: function(table, row) {
        //         $('#debugArea').html("Started dragging row "+row.id);
        //     }
        // });

        // $("currentPage").addClass("active");
        $('li[aria-current="page"]').addClass("active");

        $("a.active").removeClass("active");
        $("#contents").addClass("active");
        $('.btn-number').click(function(e){
            e.preventDefault();
            
            fieldName = $(this).attr('data-field');
            type      = $(this).attr('data-type');
            var input = $("input[name='"+fieldName+"']");
            var currentVal = parseInt(input.val());
            if (!isNaN(currentVal)) {
                if(type == 'minus') {
                    
                    if(currentVal > input.attr('min')) {
                        input.val(currentVal - 1).change();
                    } 
                    if(parseInt(input.val()) == input.attr('min')) {
                        $(this).attr('disabled', true);
                    }

                } else if(type == 'plus') {

                    if(currentVal < input.attr('max')) {
                        input.val(currentVal + 1).change();
                    }
                    if(parseInt(input.val()) == input.attr('max')) {
                        $(this).attr('disabled', true);
                    }

                }
            } else {
                input.val(0);
            }
        });
        $('.input-number').focusin(function(){
        $(this).data('oldValue', $(this).val());
        });
        $('.input-number').change(function() {
        
            minValue =  parseInt($(this).attr('min'));
            maxValue =  parseInt($(this).attr('max'));
            valueCurrent = parseInt($(this).val());
            
            name = $(this).attr('name');
            if(valueCurrent >= minValue) {
                $(".btn-number[data-type='minus'][data-field='"+name+"']").removeAttr('disabled')
            } else {
                alert('Sorry, the minimum value was reached');
                $(this).val($(this).data('oldValue'));
            }
            if(valueCurrent <= maxValue) {
                $(".btn-number[data-type='plus'][data-field='"+name+"']").removeAttr('disabled')
            } else {
                alert('Sorry, the maximum value was reached');
                $(this).val($(this).data('oldValue'));
            }
            
            
        });
        $(".input-number").keydown(function (e) {
                // Allow: backspace, delete, tab, escape, enter and .
                if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 190]) !== -1 ||
                    // Allow: Ctrl+A
                    (e.keyCode == 65 && e.ctrlKey === true) || 
                    // Allow: home, end, left, right
                    (e.keyCode >= 35 && e.keyCode <= 39)) {
                        // let it happen, don't do anything
                        return;
                }
                // Ensure that it is a number and stop the keypress
                if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
                    e.preventDefault();
                }
            });
            
        });
</script>
</html>