<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../../../partials/head %>
        <title></title>
        <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />

        <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"> -->

</head>
<script type="text/javascript" src="/js/jquery-1.10.2.js"></script>

<body>

    <header>
        <% include ../../../partials/header %>
    </header>


    <div class="container-fluid">
        <div class="row">
            <!-- 2단길이의 첫번째 열 -->
            <div class="col-md-2">
                <% include ../../../partials/mside %>
            </div>

            <!-- 10단길이의 첫번째 열 -->
            <div class="col-md-10">
                <div id="page-inner">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="page-header">
                                포인트 설정
                            </h1>
                        </div>
                    </div>
                    <%// pointSetting.forEach(function(post, index){ %>
                    <% if(pointSetting) { %>
                    <% console.log(pointSetting) %>
                        <form action="/pointSetting/pointSettingUpdate/" method="post">
                            <div class="panel-body">
                                <div class="col-md-12">
                                    <p class="fs-2" style="margin: 0;">회원가입 시</p>
                                    <input name="post[pointAt]" type="hidden" value="회원가입">
                                    <div style="height: 0.1px; width: 100%; display: block;background-color: black;"></div>
                                    <div class="form-group row" style="padding-top: 20px; margin: 0;">
                                        <p class="col-sm-3 text-left fs-6" style="color: #6c757d;">회원가입 시 적립금 지급</p>
                                        <div class="col-sm-1" style="padding-top: 10px;">
                                            <input class="form-check-input" type="checkbox" name="post[usePoint]"
                                                id="flexRadioDefault1" value="true" checked>
                                            <label class="form-check-label" for="flexRadioDefault1">
                                                사용
                                            </label>
                                        </div>
                                        <div class="col-sm-2" style="padding-top: 10px;">
                                            <input class="form-check-input" type="checkbox" name="post[usePoint]"
                                                id="flexRadioDefault1" value="false">
                                            <label class="form-check-label" for="flexRadioDefault1">
                                                미사용
                                            </label>
                                        </div>
                                    </div>
                                    <div style="height: 0.1px; width: 100%; display: block;background-color: #f1f1f1;">
                                    </div>
                                    <div class="form-group row" style="padding-top: 20px; margin: 0;">
                                        <p class="col-sm-3 text-left fs-6" style="color: #6c757d;">적립금 설정</p>
                                        <div class="col-sm-4 controls">
                                            <input name="post[point]" id="text" class="form-control"
                                                data-validate="data" value="<%= pointSetting[3].point %>">
                                        </div>
                                        <span class="col-sm-1">p</span>
                                    </div>
                                    <div style="height: 0.1px; width: 100%; display: block;background-color: #f1f1f1;">
                                    </div>
                                    <div class="form-group row" style="padding-top: 20px; margin: 0;">
                                        <p class="col-sm-3 text-left fs-6" style="color: #6c757d;">1일 최대 적립 횟수</p>
                                        <div class="col-sm-4 controls">
                                            <input id="text2" class="form-control"
                                                name="post[daylimit]" data-validate="data" value="<%= pointSetting[3].daylimit %>">
                                            <div class="text-center" style="color: #6c757d;">※0으로 입력시 무제한으로 적립됩니다※</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <p class="fs-2" style="margin: 0;">리뷰글 등록시</p>
                                    <input name="post[pointAt]" type="hidden" value="리뷰글">
                                    <div style="height: 0.1px; width: 100%; display: block;background-color: black;"></div>
                                    <div class="form-group row" style="padding-top: 20px; margin: 0;">
                                        <p class="col-sm-3 text-left fs-6" style="color: #6c757d;">리뷰글 등록 적립금 지급</p>
                                        <div class="col-sm-1" style="padding-top: 10px;">
                                            <input class="form-check-input" type="checkbox" name="post[usePoint]"
                                                id="flexRadioDefault3" value="true" checked>
                                            <label class="form-check-label" for="flexRadioDefault3">
                                                사용
                                            </label>
                                        </div>
                                        <div class="col-sm-2" style="padding-top: 10px;">
                                            <input class="form-check-input" type="checkbox" name="post[usePoint]"
                                                id="flexRadioDefault4" value="false">
                                            <label class="form-check-label" for="flexRadioDefault4">
                                                미사용
                                            </label>
                                        </div>
                                    </div>
                                    <div style="height: 0.1px; width: 100%; display: block;background-color: #f1f1f1;">
                                    </div>
                                    <div class="form-group row" style="padding-top: 20px; margin: 0;">
                                        <p class="col-sm-3 text-left fs-6" style="color: #6c757d;">적립금 설정</p>
                                        <div class="col-sm-4 controls">
                                            <input name="post[point]" id="text3" class="form-control"
                                                data-validate="data" value="<%= pointSetting[2].point %>">
                                        </div>
                                        <span class="col-sm-1">p</span>
                                    </div>
                                    <div style="height: 0.1px; width: 100%; display: block;background-color: #f1f1f1;">
                                    </div>
                                    <div class="form-group row" style="padding-top: 20px; margin: 0;">
                                        <p class="col-sm-3 text-left fs-6" style="color: #6c757d;">1일 최대 적립 횟수</p>
                                        <div class="col-sm-4 controls">
                                            <input id="text4" class="form-control"
                                                name="post[daylimit]" data-validate="data" value="<%= pointSetting[2].daylimit %>">
                                            <div class="text-center" style="color: #6c757d;">※0으로 입력시 무제한으로 적립됩니다※</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <p class="fs-2" style="margin: 0;">게시글 등록시</p>
                                    <input name="post[pointAt]" type="hidden" value="게시글">
                                    <div style="height: 0.1px; width: 100%; display: block; background-color: black;"></div>
                                    <div class="form-group row" style="padding-top: 20px; margin: 0;">
                                        <p class="col-sm-3 text-left fs-6" style="color: #6c757d;">게시글 등록 적립금 지급</p>
                                        <div class="col-sm-1" style="padding-top: 10px;">
                                            <input class="form-check-input" type="checkbox" name="post[usePoint]"
                                                id="flexRadioDefault5" value="true" checked>
                                            <label class="form-check-label" for="flexRadioDefault5">
                                                사용
                                            </label>
                                        </div>
                                        <div class="col-sm-2" style="padding-top: 10px;">
                                            <input class="form-check-input" type="checkbox" name="post[usePoint]"
                                                id="flexRadioDefault6" value="false">
                                            <label class="form-check-label" for="flexRadioDefault6">
                                                미사용
                                            </label>
                                        </div>
                                    </div>
                                    <div style="height: 0.1px; width: 100%; display: block;background-color: #f1f1f1;">
                                    </div>
                                    <div class="form-group row" style="padding-top: 20px; margin: 0;">
                                        <p class="col-sm-3 text-left fs-6" style="color: #6c757d;">적립금 설정</p>
                                        <div class="col-sm-4 controls">
                                            <input name="post[point]" id="text5" class="form-control"
                                                data-validate="data" value="<%= pointSetting[5].point %>">
                                        </div>
                                        <span class="col-sm-1">p</span>
                                    </div>
                                    <div style="height: 0.1px; width: 100%; display: block;background-color: #f1f1f1;">
                                    </div>
                                    <div class="form-group row" style="padding-top: 20px; margin: 0;">
                                        <p class="col-sm-3 text-left fs-6" style="color: #6c757d;">1일 최대 적립 횟수</p>
                                        <div class="col-sm-4 controls">
                                            <input id="text6" class="form-control"
                                                name="post[daylimit]" data-validate="data" value="<%= pointSetting[5].daylimit %>">
                                            <div class="text-center" style="color: #6c757d;">※0으로 입력시 무제한으로 적립됩니다※</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <p class="fs-2" style="margin: 0;">댓글 등록시</p>
                                    <input name="post[pointAt]" type="hidden" value="댓글">
                                    <div style="height: 0.1px; width: 100%; display: block; background-color: black;"></div>
                                    <div class="form-group row" style="padding-top: 20px; margin: 0;">
                                        <p class="col-sm-3 text-left fs-6" style="color: #6c757d;">댓글 등록 적립금 지급</p>
                                        <div class="col-sm-1" style="padding-top: 10px;">
                                            <input class="form-check-input" type="checkbox" name="post[usePoint]"
                                                id="flexRadioDefault7" value="true" checked>
                                            <label class="form-check-label" for="flexRadioDefault7">
                                                사용
                                            </label>
                                        </div>
                                        <div class="col-sm-2" style="padding-top: 10px;">
                                            <input class="form-check-input" type="checkbox" name="post[usePoint]"
                                                id="flexRadioDefault8" value="false">
                                            <label class="form-check-label" for="flexRadioDefault8">
                                                미사용
                                            </label>
                                        </div>
                                    </div>
                                    <div style="height: 0.1px; width: 100%; display: block;background-color: #f1f1f1;">
                                    </div>
                                    <div class="form-group row" style="padding-top: 20px; margin: 0;">
                                        <p class="col-sm-3 text-left fs-6" style="color: #6c757d;">적립금 설정</p>
                                        <div class="col-sm-4 controls">
                                            <input name="post[point]" id="text7" class="form-control"
                                                data-validate="data" value="<%= pointSetting[0].point %>">
                                        </div>
                                        <span class="col-sm-1">p</span>
                                    </div>
                                    <div style="height: 0.1px; width: 100%; display: block;background-color: #f1f1f1;">
                                    </div>
                                    <div class="form-group row" style="padding-top: 20px; margin: 0;">
                                        <p class="col-sm-3 text-left fs-6" style="color: #6c757d;">1일 최대 적립 횟수</p>
                                        <div class="col-sm-4 controls">
                                            <input  id="text8" class="form-control"
                                                name="post[daylimit]" data-validate="data" value="<%= pointSetting[0].daylimit %>">
                                            <div class="text-center" style="color: #6c757d;">※0으로 입력시 무제한으로 적립됩니다※</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <p class="fs-2" style="margin: 0;">SNS 공유시</p>
                                    <input name="post[pointAt]" type="hidden" value="SNS">
                                    <div style="height: 0.1px; width: 100%; display: block; background-color: black;"></div>
                                    <div class="form-group row" style="padding-top: 20px; margin: 0;">
                                        <p class="col-sm-3 text-left fs-6" style="color: #6c757d;">SNS공유 적립금 지급</p>
                                        <div class="col-sm-1" style="padding-top: 10px;">
                                            <input class="form-check-input" type="checkbox" name="post[usePoint]"
                                                id="flexRadioDefault9" value="true" checked>
                                            <label class="form-check-label" for="flexRadioDefault9">
                                                사용
                                            </label>
                                        </div>
                                        <div class="col-sm-2" style="padding-top: 10px;">
                                            <input class="form-check-input" type="checkbox" name="post[usePoint]"
                                                id="flexRadioDefault10" value="false">
                                            <label class="form-check-label" for="flexRadioDefault10">
                                                미사용
                                            </label>
                                        </div>
                                    </div>
                                    <div style="height: 0.1px; width: 100%; display: block;background-color: #f1f1f1;">
                                    </div>
                                    <div class="form-group row" style="padding-top: 20px; margin: 0;">
                                        <p class="col-sm-3 text-left fs-6" style="color: #6c757d;">적립금 설정</p>
                                        <div class="col-sm-4 controls">
                                            <input name="post[point]" id="text9" class="form-control"
                                                data-validate="data" value="<%= pointSetting[1].point %>">
                                        </div>
                                        <span class="col-sm-1">p</span>
                                    </div>
                                    <div style="height: 0.1px; width: 100%; display: block;background-color: #f1f1f1;">
                                    </div>
                                    <div class="form-group row" style="padding-top: 20px; margin: 0;">
                                        <p class="col-sm-3 text-left fs-6" style="color: #6c757d;">1일 최대 적립 횟수</p>
                                        <div class="col-sm-4 controls">
                                            <input id="text10" class="form-control"
                                                name="post[daylimit]" data-validate="data" value="<%= pointSetting[1].daylimit %>">
                                            <div class="text-center" style="color: #6c757d;">※0으로 입력시 무제한으로 적립됩니다※</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <p class="fs-2" style="margin: 0;">피부 케어시</p>
                                    <input name="post[pointAt]" type="hidden" value="피부케어">
                                    <div style="height: 0.1px; width: 100%; display: block; background-color: black;"></div>
                                    <div class="form-group row" style="padding-top: 20px; margin: 0;">
                                        <p class="col-sm-3 text-left fs-6" style="color: #6c757d;">피부 케어 적립금 지급</p>
                                        <div class="col-sm-1" style="padding-top: 10px;">
                                            <input class="form-check-input" type="checkbox" name="post[usePoint]"
                                                id="flexRadioDefault11" value="true" checked>
                                            <label class="form-check-label" for="flexRadioDefault11">
                                                사용
                                            </label>
                                        </div>
                                        <div class="col-sm-2" style="padding-top: 10px;">
                                            <input class="form-check-input" type="checkbox" name="post[usePoint]"
                                                id="flexRadioDefault12" value="false">
                                            <label class="form-check-label" for="flexRadioDefault12">
                                                미사용
                                            </label>
                                        </div>
                                    </div>
                                    <div style="height: 0.1px; width: 100%; display: block;background-color: #f1f1f1;">
                                    </div>
                                    <div class="form-group row" style="padding-top: 20px; margin: 0;">
                                        <p class="col-sm-3 text-left fs-6" style="color: #6c757d;">적립금 설정</p>
                                        <div class="col-sm-4 controls">
                                            <input name="post[point]" id="text11" class="form-control"
                                                data-validate="data" value="<%= pointSetting[4].point %>">
                                        </div>
                                        <span class="col-sm-1">p</span>
                                    </div>
                                    <div style="height: 0.1px; width: 100%; display: block;background-color: #f1f1f1;">
                                    </div>
                                    <div class="form-group row" style="padding-top: 20px; margin: 0;">
                                        <p class="col-sm-3 text-left fs-6" style="color: #6c757d;">1일 최대 적립 횟수</p>
                                        <div class="col-sm-4 controls">
                                            <input id="text12" class="form-control"
                                                name="post[daylimit]" data-validate="data" value="<%= pointSetting[4].daylimit %>">
                                            <div class="text-center" style="color: #6c757d;">※0으로 입력시 무제한으로 적립됩니다※</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <p class="fs-2" style="margin: 0;">피부 측정시</p>
                                    <input name="post[pointAt]" type="hidden" value="피부측정">
                                    <div style="height: 0.1px; width: 100%; display: block; background-color: black;"></div>
                                    <div class="form-group row" style="padding-top: 20px; margin: 0;">
                                        <p class="col-sm-3 text-left fs-6" style="color: #6c757d;">피부 측정 적립금 지급</p>
                                        <div class="col-sm-1" style="padding-top: 10px;">
                                            <input class="form-check-input" type="checkbox" name="post[usePoint]"
                                                id="flexRadioDefault13" value="true" checked>
                                            <label class="form-check-label" for="flexRadioDefault13">
                                                사용
                                            </label>
                                        </div>
                                        <div class="col-sm-2" style="padding-top: 10px;">
                                            <input class="form-check-input" type="checkbox" name="post[usePoint]"
                                                id="flexRadioDefault14" value="false">
                                            <label class="form-check-label" for="flexRadioDefault14">
                                                미사용
                                            </label>
                                        </div>
                                    </div>
                                    <div style="height: 0.1px; width: 100%; display: block;background-color: #f1f1f1;">
                                    </div>
                                    <div class="form-group row" style="padding-top: 20px; margin: 0;">
                                        <p class="col-sm-3 text-left fs-6" style="color: #6c757d;">적립금 설정</p>
                                        <div class="col-sm-4 controls">
                                            <input name="post[point]" id="text13" class="form-control"
                                                data-validate="data" value="<%= pointSetting[6].point %>">
                                        </div>
                                        <span class="col-sm-1">p</span>
                                    </div>
                                    <div style="height: 0.1px; width: 100%; display: block;background-color: #f1f1f1;">
                                    </div>
                                    <div class="form-group row" style="padding-top: 20px; margin: 0;">
                                        <p class="col-sm-3 text-left fs-6" style="color: #6c757d;">1일 최대 적립 횟수</p>
                                        <div class="col-sm-4 controls">
                                            <input id="text14" class="form-control"
                                                name="post[daylimit]" data-validate="data" value="<%= pointSetting[6].daylimit %>">
                                            <div class="text-center" style="color: #6c757d;">※0으로 입력시 무제한으로 적립됩니다※</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <p class="fs-2" style="margin: 0;">출석 체크시</p>
                                    <input name="post[pointAt]" type="hidden" value="출석체크">
                                    <div style="height: 0.1px; width: 100%; display: block; background-color: black;"></div>
                                    <div class="form-group row" style="padding-top: 20px; margin: 0;">
                                        <p class="col-sm-3 text-left fs-6" style="color: #6c757d;">출석 체크 적립금 지급</p>
                                        <div class="col-sm-1" style="padding-top: 10px;">
                                            <input class="form-check-input" type="checkbox" name="post[usePoint]"
                                                id="flexRadioDefault15" value="true" checked>
                                            <label class="form-check-label" for="flexRadioDefault15">
                                                사용
                                            </label>
                                        </div>
                                        <div class="col-sm-2" style="padding-top: 10px;">
                                            <input class="form-check-input" type="checkbox" name="post[usePoint]"
                                                id="flexRadioDefault16" value="false">
                                            <label class="form-check-label" for="flexRadioDefault16">
                                                미사용
                                            </label>
                                        </div>
                                    </div>
                                    <div style="height: 0.1px; width: 100%; display: block;background-color: #f1f1f1;">
                                    </div>
                                    <div class="form-group row" style="padding-top: 20px; margin: 0;">
                                        <p class="col-sm-3 text-left fs-6" style="color: #6c757d;">적립금 설정</p>
                                        <div class="col-sm-4 controls">
                                            <input name="post[point]" id="text15" class="form-control"
                                                data-validate="data" value="<%=// pointSetting[7].point %>">
                                        </div>
                                        <span class="col-sm-1">p</span>
                                    </div>
                                    <div style="height: 0.1px; width: 100%; display: block;background-color: #f1f1f1;">
                                    </div>
                                    <div class="form-group row" style="padding-top: 20px; margin: 0;">
                                        <p class="col-sm-3 text-left fs-6" style="color: #6c757d;">1일 최대 적립 횟수</p>
                                        <div class="col-sm-4 controls">
                                            <input id="text16" class="form-control"
                                                name="post[daylimit]" data-validate="data" value="<%=// pointSetting[7].daylimit %>">
                                            <div class="text-center" style="color: #6c757d;">※0으로 입력시 무제한으로 적립됩니다※</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="panel-body">
                                        <div class="d-grid gap-2 d-md-block text-center">
                                            <button type="submit" class="w-15 m-1 btn btn-primary btn-sm">저장</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    <% } %>
                    <%// }) %>
                </div>
            </div>
        </div>
    </div>
    </div>


</body>



<script src="/js/custom-scripts.js"></script>
<script src="/js/jquery-1.10.2.js"></script>
<script src="/js/bootstrap.min.js"></script>

</html>