<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../../../../partials/head %>
    <title></title>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
</head>
<script type="text/javascript" src="/js/jquery-1.10.2.js"></script>
<script>
        $(document).ready(function(){
            $(".active").removeClass("active");
            $("#contents").addClass("active");
        });
</script>
<title>Hello, world!</title>

<body>
    
    <header>
        <% include ../../../../partials/header %>
    </header>


    <div class="container-fluid">
      <div class="row">
        <!-- 2단길이의 첫번째 열 -->
        <div class="col-md-2">
          <!-- 사이드 메뉴 시작 -->
          <% include ../../../../partials/side %>
          <!-- 사이드 메뉴 종료 -->
        </div>


        <!-- 10단길이의 첫번째 열 -->
        <div class="col-md-10">
          <div id="page-inner">
            <div class="row">
              <div class="col-md-12">
                  <h1 class="page-header">
                    영상관리
                      <!-- <small> 챌린지 관리 Sub제목</small> -->
                  </h1>
              </div>
            </div>

            <div class="accordion-body">
              <div class="container">
                <div class="panel-heading">
                  <h4 class="text-left" style="margin-top:5px;">영상관리 세부내용</h4>
                  <br>
                  <%if(!post.isEmpty(post.showLocation)) { %>
                  <div class="row">
                    <div class="col-lg-12">
                      <label class="col-1">노출위치</label>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1" disabled <%= post.showLocation[0].home ? "checked" : "value=false" %> />
                        <label class="form-check-label" for="inlineCheckbox1">메인홈</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2" disabled <%= post.showLocation[0].poreSize ? "checked" : "value=false" %> >
                        <label class="form-check-label" for="inlineCheckbox2">모공크기</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3" disabled <%= post.showLocation[0].poreCount ? "checked" : "value=false" %> >
                        <label class="form-check-label" for="inlineCheckbox3">모공수</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox4" value="option4" disabled <%= post.showLocation[0].skinTone ? "checked" : "value=false" %> >
                        <label class="form-check-label" for="inlineCheckbox4">피부톤</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox5" value="option5" disabled <%= post.showLocation[0].clean ? "checked" : "value=false" %> >
                        <label class="form-check-label" for="inlineCheckbox5">클린지수</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox6" value="option6" disabled <%= post.showLocation[0].munjin ? "checked" : "value=false" %> >
                        <label class="form-check-label" for="inlineCheckbox6">생활문진</label>
                      </div>
                    </div>
                  </div>
                  <% } else { %>
                    <div class="row">
                    <div class="col-lg-12">
                      <label class="col-1">노출위치</label>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1" disabled />
                        <label class="form-check-label" for="inlineCheckbox1">메인홈</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2" disabled />
                        <label class="form-check-label" for="inlineCheckbox2">모공크기</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3" disabled />
                        <label class="form-check-label" for="inlineCheckbox3">모공수</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox4" value="option4" disabled />
                        <label class="form-check-label" for="inlineCheckbox4">피부톤</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox5" value="option5" disabled />
                        <label class="form-check-label" for="inlineCheckbox5">클린지수</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox6" value="option6" disabled />
                        <label class="form-check-label" for="inlineCheckbox6">생활문진</label>
                      </div>
                    </div>
                  </div>
                  <% } %>  

                  


                  <%if(!post.isEmpty(post.tabLocation)) { %>
                  <div class="row">
                    <div class="col-lg-12">
                      <label class="col-1">탭명</label>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="true" disabled <%= post.tabLocation[0].tip ? "checked" : "value=false" %>>
                        <label class="form-check-label" for="inlineCheckbox1">핫클립</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="true" disabled <%= post.tabLocation[0].hit ? "checked" : "value=false" %>>
                        <label class="form-check-label" for="inlineCheckbox2">플리닉</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="true" disabled <%= post.tabLocation[0].new ? "checked" : "value=false" %>>
                        <label class="form-check-label" for="inlineCheckbox3">봐야해</label>
                      </div>
                      <!-- <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox4" value="option4">
                        <label class="form-check-label" for="inlineCheckbox4">뷰티템</label>
                      </div> -->
                    </div>
                  </div>
                  <% } else {%>
                    <div class="row">
                      <div class="col-lg-12">
                        <label class="col-1">탭명</label>
                        <div class="form-check form-check-inline">
                          <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="true" disabled>
                          <label class="form-check-label" for="inlineCheckbox1">핫클립</label>
                        </div>
                        <div class="form-check form-check-inline">
                          <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="true" disabled>
                          <label class="form-check-label" for="inlineCheckbox2">플리닉</label>
                        </div>
                        <div class="form-check form-check-inline">
                          <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="true" disabled>
                          <label class="form-check-label" for="inlineCheckbox3">봐야해</label>
                        </div>
                        <!-- <div class="form-check form-check-inline">
                          <input class="form-check-input" type="checkbox" id="inlineCheckbox4" value="option4">
                          <label class="form-check-label" for="inlineCheckbox4">뷰티템</label>
                        </div> -->
                      </div>
                    </div>
                  <% } %>

                  <div class="row">
                    <div class="col-lg-12">
                      <label class="col-1">영상관리 제목</label>
                      <div class="form-check form-check-inline col-4" style="padding-left:0;">
                        <input name="name" id="name" class="form-control" value="<%=post.body%>" data-validate="data" readonly>
                      </div>
                    </div>
                  </div>
                  
                  <div class="row">
                    <div class="col-lg-12">
                      <label class="col-1">유튜브 URL</label>
                      <div class="form-check form-check-inline col-4" style="padding-left:0;">
                        <input name="name" id="name" class="form-control" value="<%=post.posturl%>" data-validate="data" readonly>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-lg-12">
                      <label class="col-1">유튜브 동영상ID</label>
                      <div class="form-check form-check-inline col-4" style="padding-left:0;">
                        <input name="name" id="name" class="form-control" value="<%=post.posturlId%>" data-validate="data" readonly>
                      </div>
                    </div>
                  </div>
                  <br>
                  <div class="row ">
                      <label class="col-md-1 text-left">활성화</label>
                      <div class="col-md-11">
                          <label class="radio-inline">
                              <input type="radio" name="optionsRadiosInline"
                                  id="optionsRadiosInline1" value="option1"
                                  required disabled <%= post.visible ? 'checked' : 'value=false' %>>활성화
                          </label>
                          <label class="radio-inline">
                              <input type="radio" name="optionsRadiosInline"
                                  id="optionsRadiosInline2" value="option2"
                                  required disabled <%= post.visible ?  "value=false" : "checked"%>>비활성화
                          </label>
                      </div>
                  </div>

                <div class="row">
                    <div class="col d-grid gap-2 d-md-block">
                  <form action="/movies/<%=post._id%>?_method=delete" method="post">
                    <button type="submit" class="float-start w-25 m-1 btn btn-danger">삭제하기</button>
                    <input type="hidden" name="prefilename" value="<%=prefilename%>" />
                  </form>
                  <button type="submit" class="float-end w-25 m-1 btn btn-primary" onclick="location.href='/movies/<%=post._id%>/edit'" >변경하기</button>
                  <button type="reset" class="float-end w-25 m-1 btn btn-default" onclick="location.href='/movies'">목록가기</button>
                </div>
                </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>





</body>

<script src="/js/jquery-1.10.2.js"></script>
<!-- Bootstrap Js -->
<script src="/js/bootstrap.min.js"></script>
<!-- Custom Js -->
<script src="/js/custom-scripts.js"></script>
</html>