<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../../../../partials/head %>
    <title></title>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
</head>
<script type="text/javascript" src="/js/jquery-1.10.2.js"></script>
<script>
  $(document).ready(function () {
    $(".active").removeClass("active");
    $("#contents").addClass("active");
  });
</script>
<title>Hello, world!</title>

<body>

  <header>
    <% include ../../../../partials/header %>
  </header>


  <div class="container-fluid">
    <div class="row">
      <!-- 2단길이의 첫번째 열 -->
      <div class="col-md-2">
        <!-- 사이드 메뉴 시작 -->
        <% include ../../../../partials/side %>
          <!-- 사이드 메뉴 종료 -->
      </div>


      <!-- 10단길이의 첫번째 열 -->
      <div class="col-md-10">
        <div id="page-inner">
          <!-- /. ROW  -->
          <div class="row">
            <div class="col-lg-12">
              <div class="panel panel-default">
                <div class="panel-heading">
                  내용보기
                </div>
                <br>
                <div class="d-flex flex-row bd-highlight mb-3">
                  <div class="p-2 bd-highlight">
                    <button type="button" class="m-1 btn btn-success btn-sm"
                      onclick="location.href='/challengeComments/Comments/ChallengeComment/edit'">수정</button>
                  </div>
                  <div class="p-2 bd-highlight">
                    <button type="button" class="m-1 btn btn-success btn-sm"
                      onclick="location.href='/challengeComments/Comments/ChallengeComment/new'">담변</button>
                  </div>
                  <div class="p-2 bd-highlight">
                    <form>
                      <button type="button" class="m-1 btn btn-danger btn-sm">삭제</button>
                    </form>
                  </div>
                  <div class="p-2 bd-highlight">
                    <form>
                      <button type="button" class="m-1 btn btn-primary btn-sm"
                      onclick="location.href='/carezone/nIndex'">목록으로</button>
                    </form>
                  </div>
                </div>

                <table class="table-bordered table table-striped table-hover">
                  <% if(post[0].comment) { %>
                    <tr>
                      <th class="text-center">제목</th>
                      <td colspan="3" class="text-left" data-highlight="<%= search.highlight.comment %>">
                        <%= post[0].title %>
                      </td>
                    </tr>
                    <tr>
                      <th class="text-center">이름</th>
                      <td class="text-left" data-highlight="<%= search.highlight.email %>">
                        <%= post[0].name %>
                      </td>
                      <th class="text-center" width="250">작성일</th>
                      <td width="400" class="text-left">
                          <%=postDate%>
                      </td>
                    </tr>
                    <tr>
                      <th class="col-2" style="text-align: center;">IP주소</th>
                      <td class="text-left" class="text-left">121.161.30.211</td>
                      <th class="text-center" width="250">챌린지 제목</th>
                      <td width="400" class="text-left" data-highlight="<%= search.highlight.title %>">
                        <%= post.title %>
                      </td>
                    </tr>
                    <tr>
                      <td colspan="4" class="text-left" data-highlight="<%= search.highlight.body %>">
                        <%= post.contents %>
                      </td>
                    </tr>

                    <% } %>
                </table>

                <div class="comments">
                  <%=post[0].comment%>
                  <div class="recomments">
                    <% if(!post[0].rebody.length == 0) { %>
                    ⤷&nbsp;<%=post[0].rebody%>
                    <%// if(user && user.equals(post.author._id)) { %>
                    <% if(user) { %>
                        <%// console.log(user._id) %>
                        <% console.log(post[0].commentId) %>
                        <% console.log(post[0].recommentId) %>
                        <form class="float_right" method="post"
                          action="/challengeComments/<%= post[0].commentId %>/recomments/<%= post[0].recommentId %>?_method=delete&<%= urlQuery %>">
                          <button type="button" class="w-15 m-1 btn btn-danger btn-sm"
                            onclick="confirm('답글을 삭제하겠습니까?')?this.parentElement.submit():null;">
                            x
                          </button>
                        </form>
                    <% } %>
                    <% } %>
                  </div>
                  <form action="/challengeComments/recomments/<%=post[0]._id%>" method="post">
                    <input type="hidden" name="post[email]" value="<%=user.email%>" />
                    <input type="hidden" name="post[commentId]" value="<%=post[0].commentId%>" />
                    <div class="form-floating">
                      <textarea name="post[body]" c lass="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
                      <label for="floatingTextarea2">관리자 댓글 달기</label>
                    </div>
                    <button type="submit">댓글 저장</button>
                    <div id="cvErrTitle" class="message"></div>
                  </form>
                </div>





              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>




</body>

<script src="/js/jquery-1.10.2.js"></script>
<!-- Bootstrap Js -->
<script src="/js/bootstrap.min.js"></script>
<!-- Custom Js -->
<script src="/js/custom-scripts.js"></script>

</html>